<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Black Hills Aerial Adventures | Aircraft</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="/css/jqueryui/1.11.3/jquery-ui.css" th:href="@{~/css/jqueryui/1.11.3/jquery-ui.css}"/>
	<link rel="stylesheet" href="/css/main.css" th:href="@{~/css/main.css}"/>
    <script type="text/javascript" src="/js/jquery/1.11.2/jquery.min.js" th:src="@{~/js/jquery/1.11.2/jquery.min.js}"></script>
	<script type="text/javascript" src="/js/jqueryui/1.11.3/jquery-ui.min.js" th:src="@{~/js/jqueryui/1.11.3/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="/js/main.js" th:src="@{~/js/main.js}"></script>
    <script type="text/javascript" src="/js/multiselect.js" th:src="@{~/js/multiselect.js}"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/

		var models = {};
		dialogWidth=650;
    	           
		function buildOptions(){
			var allModels = /*[[${allModels}]]*/;
			for(var i=0; i < allModels.length; i++) {
				var model = allModels[i]; 
				models[model.id] = model;
			}			
		}
		/*]]>*/
    </script>
    <script type="text/javascript">
  		//<![CDATA[
  		           
		var lengthValidation = [];
		var oldImagePath;
		var imagePrefix = "data:image/jpeg;base64,";
		
    	$(function() {
    		var id = $( "#id" ),
    		aircraftNumber = $( "#aircraftNumber" ),
        	name = $( "#name" ),
        	model = $( "#model" ),
        	serialNum = $( "#serialNum" ),
        	imagePath = $( "#imagePath" ),
    		ordering = $( "#ordering" ),
    		active = $( "#active" ),
    		excludedAdComplianceIds = $( "#excludedAdComplianceIds" );
    		
        	allFields = $( [] ).add( id ).add( aircraftNumber ).add( name ).add( model ).add( serialNum ).add( imagePath ).add( ordering ).add( active ).add( excludedAdComplianceIds );
        	addUpdatePath = "/admin/aircrafts";
        	deletePath = "/admin/aircrafts";
    		
    		createDialog();
    		
    		$("#loading").dialog({
    			dialogClass: "no-close",
    			autoOpen: false
    		});
    		
   		
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(aircraftNumber, "'Aircraft Number'", 1, 10);
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(name, "'Aircraft Name'", 1, 50);
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(serialNum, "'Serial Number'", 1, 20);
    		
        	$('#chooseImage').on('click', function() {
        		$('#imagePath').click();
        		return false;
        	});
        	
        	$('#multiselect').multiselect({
        		submitAllLeft: false,
        		right: '#excludedAdComplianceIds'
        	});
        	
        	$( "#model" ).change(function() {
        		var selectedModelId = $(this).val(); // get selected value
                $.ajax({
                    url: domain+'adCompliances/model/'+selectedModelId,
                    type:'GET',
                    success:function(adCompliances){
                    	var applicableAds = $( "[name=applicableAds]" );
                    	applicableAds.empty();
                    	$( "#excludedAdComplianceIds" ).empty();
                    	$.each(adCompliances, function(key, adCompliance) {   
                    		applicableAds.append($("<option/>", {
                    	       	value: adCompliance.id,
                    	       	text: adCompliance.name
    	                	}));
                    	});
                    },
                    error:function(response){
                    	alert('The AD Compliances could not be retrieved for the selected model.')
                    }
               	});
                return false;
        	});
       	});
    	function setSelectValue(formData, element) {
			if(element.name == 'model') {
				formData[element.name] = models[element.value];
			} else if (element.name == 'excludedAdComplianceIds') {
				for(var i=0; i < element.options.length; i++) {
					if(typeof formData[element.name] == 'undefined'){
						formData[element.name] = element.options[i].value
					} else {
						formData[element.name] += ',';
						formData[element.name] += element.options[i].value;
					}
				}
			}
    	}
    	function setExtraValues(formData){
    		if (typeof formData['imagePath'] == 'undefined') {
    			if(oldImagePath != ""){
    				formData['imagePath'] = oldImagePath;
    			}
    		}
    	}
    	function writeCreatedRecord(savedRecord){
    		var imagePath=(savedRecord.imagePath !=null ? savedRecord.imagePath : '');
    		
    		var elementBefore;
    		if($(".records-rows").length){
    			elementBefore = $(".records-rows");
    		} else {
    			elementBefore = $(".records-header");
    		}
    		
    		var applicableAdCompliancesText = "";
    		if(savedRecord.adCompliances != null) {
	    		$.each(savedRecord.adCompliances, function(key, adCompliance) {
	    			applicableAdCompliancesText += "<span><span>"+adCompliance.name+"</span><br></span>";
	    		});
	    	}
    		var excludedAdCompliancesText = "";
    		if(savedRecord.excludedAdCompliances != null) {
	    		$.each(savedRecord.excludedAdCompliances, function(key, excludedAdCompliance) {
	    			excludedAdCompliancesText += "<span><span>"+excludedAdCompliance.adCompliance.name+"</span><br></span>";
	    		});
	    	}
    		
    		elementBefore.last().after( "<div class='records-rows id"+savedRecord.id+" new-row'>" +
	    			"<span class='dataCell'>" +
			    	"<span class='edit icon'><a href='#' class='editLink' data-id='"+savedRecord.id+"'><img border='0' alt='Edit' src='"+contextPath+"/images/edit.png'/></a></span> " +
			    	"<span class='delete icon'><a href='#' class='deleteLink' data-id='"+savedRecord.id+"'><img border='0' alt='Delete' src='"+contextPath+"/images/delete.png'/></a></span> " +
			    	"</span>" +
			    	"<span class='aircraftNumber dataCell'>"+savedRecord.aircraftNumber+"</span> " +
			    	"<span class='name dataCell'>"+savedRecord.name+"</span> " +
			    	"<span class='model dataCell'>"+savedRecord.model.name+"</span> " +
			    	"<span class='serialNum dataCell'>"+savedRecord.serialNum+"</span> " +
			    	"<span class='applicableAdCompliances dataCell' style='vertical-align:bottom;'>"+applicableAdCompliancesText+"</span> " +
			    	"<span class='excludedAdCompliances dataCell' style='vertical-align:bottom;'>"+excludedAdCompliancesText+"</span> " +
			    	"<span class='active dataCell'><input type='checkbox' "+getNewCheckboxValue(savedRecord.active)+" disabled='disabled'/></span> " +
			    	"<span class='aircraftImage dataCell'><img class='aircraft-image' src='"+imagePrefix+imagePath+"'/></span> " +
			    	"<span class='id cell hidden'>"+savedRecord.id+"</span> " +
			    	"<span class='modelId cell hidden'>"+savedRecord.model.id+"</span> " +
			    	"<span class='adCompliancesList cell hidden'>"+savedRecord.adCompliancesString+"</span> " +
			    	"<span class='excludedAdCompliancesList cell hidden'>"+savedRecord.excludedAdCompliancesString+"</span> " +
		    	"</div>" );   
    	}
    	function writeEditRecord(savedRecord){
    		var applicableAdCompliancesText = "";
    		if(savedRecord.adCompliances != null) {
	    		$.each(savedRecord.adCompliances, function(key, adCompliance) {
	    			applicableAdCompliancesText += "<span><span>"+adCompliance.name+"</span><br></span>";
	    		});
	    	}
    		var excludedAdCompliancesText = "";
    		if(savedRecord.excludedAdCompliances != null) {
	    		$.each(savedRecord.excludedAdCompliances, function(key, excludedAdCompliance) {
	    			excludedAdCompliancesText += "<span><span>"+excludedAdCompliance.adCompliance.name+"</span><br></span>";
	    		});
	    	}    		
    		
    		var editedRow = $(".id"+savedRecord.id);
    		editedRow.find('.aircraftNumber').html(savedRecord.aircraftNumber);
    		editedRow.find('.name').html(savedRecord.name);
    		editedRow.find('.model').html(savedRecord.model.name);
    		editedRow.find('.serialNum').html(savedRecord.serialNum);
    		editedRow.find('.applicableAdCompliances').html(applicableAdCompliancesText);
    		editedRow.find('.excludedAdCompliances').html(excludedAdCompliancesText);
    		editedRow.find('.active input').prop('checked', savedRecord.active);
    		if(savedRecord.imagePath != null){
    			editedRow.find('img.aircraft-image').attr("src", imagePrefix+savedRecord.imagePath);
    		} else {
    			editedRow.find('img.aircraft-image').attr("src", oldImagePath);
    		}
    		editedRow.find('.adCompliancesList').html(savedRecord.adCompliancesString);
    		editedRow.find('.excludedAdCompliancesList').html(savedRecord.excludedAdCompliancesString);
    		editedRow.find('.id').html(savedRecord.id);
    		editedRow.addClass('new-row');
    	}
    	function populateCreateForm() {
    		oldImagePath = "";
    		$( "#model" ).change();
    	}
    	function populateEditForm(editLink){
    		$('#addEditForm').find("option:selected").removeAttr("selected");
    		var editSpan = $(editLink).closest('span.dataCell');
    		
    		var oldImageSource = editSpan.nextAll('.aircraftImage').first().find('.aircraft-image').attr('src');
    		oldImagePath = oldImageSource.substring(imagePrefix.length);
    		
    		$('#addEditForm').find('#aircraftNumber').val(editSpan.nextAll('span.aircraftNumber').first().html());
    		$('#addEditForm').find('#name').val(editSpan.nextAll('span.name').first().html());
    		var modelIdSpan = editSpan.nextAll('span.modelId');
    		var modelOptionStr = "select option[value='"+modelIdSpan.html()+"']";
    		$('#addEditForm').find(modelOptionStr).prop('selected','selected');
    		$('#addEditForm').find('#serialNum').val(editSpan.nextAll('span.serialNum').first().html());
    		
    		var activeValue = editSpan.nextAll('span.active').first().find("input").is(':checked');
    		if(activeValue){
        		$('#addEditForm').find('#active').prop('checked', true);	
    		}
    		
    		var applicableAds = $( "[name=applicableAds]" );
    		var excludedAds = $( "#excludedAdComplianceIds" );
    		applicableAds.empty();
    		excludedAds.empty();
    		var adCompliancesList = editSpan.nextAll('span.adCompliancesList').first().html().split("|");
    		var excludedAdCompliancesList = editSpan.nextAll('span.excludedAdCompliancesList').first().html().split("|");
    		$.each(adCompliancesList, function(key, adComplianceObj) {
    			var adCompliance = adComplianceObj.split("^");
    			if(adCompliance[1] && adCompliance[1].trim().length > 0){
	    			applicableAds.append($("<option/>", {
	        	       	value: adCompliance[0],
	        	       	text: adCompliance[1]
	            	}));
    			}
    		}); 
    		$.each(excludedAdCompliancesList, function(key, excludedAdComplianceObj) {
    			var excludedAdCompliance = excludedAdComplianceObj.split("^");
    			if(excludedAdCompliance[1] && excludedAdCompliance[1].trim().length > 0){
	    			excludedAds.append($("<option/>", {
	        	       	value: excludedAdCompliance[0],
	        	       	text: excludedAdCompliance[1]
	            	}));
    			}
    		}); 
    		
    		$('#addEditForm').find('#id').val(editSpan.nextAll('span.id').first().html());
    	}
    	function findDeleteName(deleteLink){
    		return $(deleteLink).closest('span.dataCell').nextAll('span.name').first().html();
    	}
    	//]]>
    </script>
    <style>
    	.aircraftImage {
    		width: 300px;
    	}
    	.active.dataCell {
    		padding-left: 35px;
		}
    </style>
</head>
<body>

	<div th:replace="includes/header :: header">...</div>

	<div id="main-content">
		<H1>Aircraft</H1>
		<div id="loading"> 
		    <p>Image Uploading...</p>
		</div>
		<div id="dialog-form" title="Aircraft">
			<p class="validateTips"></p>
			<form id="addEditForm" action="/aircrafts" th:action="@{~/aircrafts}" method="post">
				<fieldset>
					<label for="aircraftNumber">Number</label>
					<input type="text" name="aircraftNumber" id="aircraftNumber" class="text ui-widget-content ui-corner-all"/>
					<label for="name">Name</label>
					<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all"/>
					<label for="model">Model</label>
					<select id="model" name="model" class="ui-widget-content ui-corner-all">
						<option th:each="model : ${allModels}" th:text="${model.name}" th:value="${model.id}">${model.name}</option>
					</select>
					<label for="serialNum">Serial Number</label>
					<input type="text" name="serialNum" id="serialNum" class="text ui-widget-content ui-corner-all"/>
					<label for="active" style="display:inline;">In Service</label>
					<input style="display:inline;" type="checkbox" name="active" id="active"/>
					<br/><br/>
					<label for="imagePath">Image</label>
					<button type="button" id="chooseImage" class="hidden ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" role="button">
						<span class="ui-button-text">Choose Image</span>
					</button>
					<input type="file" name="imagePath" id="imagePath" accept="image/png, image/gif, image/jpeg, image/jpg, image/bmp, image/gif, image/jpe"/>
					<br/>
					<div class="row">
						<div class="select-left">
							<label class="multiselectHeader" for="">Applicable Ad Compliances</label>
							<select name="applicableAds" id="multiselect" class="form-control" size="5" multiple="multiple"></select>
						</div>						
						<div class="select-middle">
							<button type="button" id="multiselect_rightSelected" class="select-button" role="button"><span class="button-text">&gt;</span></button>
							<button type="button" id="multiselect_leftSelected" class="select-button" role="button"><span class="button-text">&lt;</span></button>
						</div>
						<div class="select-right">
							<label class="multiselectHeader" for="">Excluded Ad Compliances</label>
							<select name="excludedAdComplianceIds" id="excludedAdComplianceIds" class="form-control" size="5" multiple="multiple"></select>
						</div>
					</div>

					<input type="text" name="id" id="id" class="hidden"/>
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
				</fieldset>
			</form>
		</div>
		<div class="table">
			<div class="records-header">
				<span class="edit delete icon"></span>
			    <span class="headerCell dataCell">Number</span>
			    <span class="headerCell dataCell">Name</span>
			    <span class="headerCell dataCell">Model</span>
			    <span class="headerCell dataCell">Serial Number</span>
			    <span class="headerCell dataCell">Applicable AD Compliances</span>
			    <span class="headerCell dataCell">Not Applicable AD Compliances</span>
			    <span class="headerCell dataCell">In Service</span>
			    <span class="headerCell dataCell">Image</span>
			    <span class="headerCell dataCell"></span>
			</div>
			<div class="records-rows" th:each="a : ${aircrafts}" th:classappend="|id${a.id}">
				<span class="dataCell">
					<span class="edit icon"><a href="#" class="editLink" th:attr="data-id=${a.id}"><img border="0" alt="Edit" src="/images/edit.png" th:src="@{~/images/edit.png}"/></a></span>
					<span class="delete icon"><a href="#" class="deleteLink" th:attr="data-id=${a.id}"><img border="0" alt="Delete" src="/images/delete.png" th:src="@{~/images/delete.png}"/></a></span>
				</span>
				<span class="aircraftNumber dataCell" th:text="${a.aircraftNumber}">Number</span>
				<span class="name dataCell" th:text="${a.name}">Name</span>
				<span class="model dataCell" th:text="${a.model.name}">Model</span>
				<span class="serialNum dataCell" th:text="${a.serialNum}">Serial Number</span>
				<span class="applicableAdCompliances dataCell" style="vertical-align:bottom;">
					<span th:each="adc : ${a.adCompliances}">
						<span th:text="${adc.name}">AD Compliance Name</span><br/>
					</span>
				</span>
				<span class="excludedAdCompliances dataCell" style="vertical-align:bottom;">
					<span th:each="eadc : ${a.excludedAdCompliances}">
						<span th:text="${eadc.adCompliance.name}">Excluded AD Compliance Name</span><br/>
					</span>
				</span>
				<span class="active dataCell"><input type="checkbox" th:value="${a.active}" th:checked="${a.active}" disabled="disabled"/></span>
				<span class="aircraftImage dataCell"><img class="aircraft-image" src="" th:src="'data:image/jpeg;base64,'+${a.imagePath}" /></span>
				<span class="dataCell" style="vertical-align:bottom;">
					<a href="flightLog.html?id=1" th:href="@{~/flightLog.html(id=${a.id})}"><button type="button" class="month-button" role="button"><span class="button-text">Log</span></button></a><br/><br/>
					<a href="aircraftStatus.html?id=1" th:href="@{~/aircraftStatus.html(id=${a.id})}"><button type="button" class="month-button" role="button"><span class="button-text">Status</span></button></a><br/><br/>
					<a th:if="${a.model.hasAdCompliances}" href="adComplianceLog.html?id=1" th:href="@{~/adComplianceLog.html(id=${a.id})}"><button type="button" class="month-button" role="button"><span class="button-text" th:classappend="!${a.adComplied}?'alert-button'">AD Compliance</span></button></a>
				</span>
				<span class="id cell hidden" th:text="${a.id}">Hidden PK ID</span>
				<span class="modelId cell hidden" th:text="${a.model.id}">Hidden Model Id</span>
				<span class="adCompliancesList cell hidden" th:text="${a.adCompliancesString}">Hidden AD Compliances String</span>
				<span class="excludedAdCompliancesList cell hidden" th:text="${a.excludedAdCompliancesString}">Hidden Excluded AD Compliances String</span>
			</div>
		</div>
		<button id="create-record">Create New</button>
	</div>
</body>
</html>