<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Black Hills Aerial Adventures | Models</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="/css/jqueryui/1.11.3/jquery-ui.css" />
	<link rel="stylesheet" href="/css/main.css" />
    <script type="text/javascript" src="/js/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/
    	           
		function buildOptions(){
		
		}
		/*]]>*/
    </script>
    <script type="text/javascript">
  		//<![CDATA[
  		           
		var lengthValidation = [];
		var passwordValidation = [];
		
    	$(function() {
    		var id = $( "#id" ),
        	name = $( "#name" ),
        	showStarts = $( "#showStarts" );
    		
        	allFields = $( [] ).add( id ).add( name ).add( showStarts );
        	addUpdatePath = "/admin/models";
        	deletePath = "/admin/models";
    		
    		createDialog();
    		
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(name, "'Name'", 1, 50);
    	});
    	function setSelectValue(formData, element) {

    	}
    	function writeCreatedRecord(savedRecord){
    		var elementBefore;
    		if($(".records-rows").length){
    			elementBefore = $(".records-rows");
    		} else {
    			elementBefore = $(".records-header");
    		}
    		
    		elementBefore.last().after( "<div class='records-rows id"+savedRecord.id+"'>" +
	    			"<span class='dataCell'>" +
			    	"<span class='edit icon'><a href='#' class='editLink' data-id='"+savedRecord.id+"'><img border='0' alt='Edit' src='/images/edit.png' width='15' height='15'/></a></span> " +
			    	"<span class='delete icon'><a href='#' class='deleteLink' data-id='"+savedRecord.id+"'><img border='0' alt='Delete' src='/images/delete.png' width='15' height='15'/></a></span> " +
			    	"</span>" +
			    	"<span class='name dataCell'>"+savedRecord.name+"</span> " +
			    	"<span class='showStarts dataCell'><input type='checkbox' "+getNewCheckboxValue(savedRecord.showStarts)+" disabled='disabled'/></span> " +
			    	"<span class='id cell hidden'>"+savedRecord.id+"</span> " +
		    	"</div>" );    		
    	}
    	function writeEditRecord(savedRecord){
    		var editedRow = $(".id"+savedRecord.id);
    		editedRow.find('.name').html(savedRecord.name);
    		editedRow.find('.showStarts input').prop('checked', savedRecord.showStarts);
    		editedRow.find('.id').html(savedRecord.id);
    	}
    	function populateEditForm(editLink){
    		var editSpan = $(editLink).closest('span.dataCell');
    		$('#addEditForm').find('#name').val(editSpan.nextAll('span.name').first().html());
    		var showStartsValue = editSpan.nextAll('span.showStarts').first().find("input").is(':checked');
    		if(showStartsValue){
        		$('#addEditForm').find('#showStarts').prop('checked', true);	
    		}
    		$('#addEditForm').find('#id').val(editSpan.nextAll('span.id').first().html());
    	}
    	function findDeleteName(deleteLink){
    		return $(deleteLink).closest('span.dataCell').nextAll('span.name').first().html();
    	}
    	//]]>
    </script>
</head>
<body>

	<div th:replace="includes/header :: header">...</div>
	<div id="main-content">
		<H1>Models</H1>
		<div id="dialog-form" title="Model">
			<p class="validateTips"></p>
			<form id="addEditForm" action="/models" method="post">
				<fieldset>
					<label for="name">Name</label>
					<input type="text" name="name" id="name" value="Bell 406" class="text ui-widget-content ui-corner-all"/>
					<label style="display:inline;" for="showStarts">Track Starts</label>
					<input style="display:inline;" type="checkbox" name="showStarts" id="showStarts"/>
					<input type="text" name="id" id="id" class="hidden"/>
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
				</fieldset>
			</form>
		</div>
		<div class="table">
			<div class="records-header">
				<span class="edit delete icon"></span>
			    <span class="headerCell dataCell">Name</span>
			    <span class="headerCell dataCell">Track Starts</span>
			</div>
			<div class="records-rows" th:each="m : ${models}" th:classappend="|id${m.id}">
				<span class="dataCell">
					<span class="edit icon"><a href="#" class="editLink" th:attr="data-id=${m.id}"><img border="0" alt="Edit" src="/images/edit.png" width="15" height="15"/></a></span>
					<span class="delete icon"><a href="#" class="deleteLink" th:attr="data-id=${m.id}"><img border="0" alt="Delete" src="/images/delete.png" width="15" height="15"/></a></span>
				</span>
				<span class="name dataCell" th:text="${m.name}">Name</span>
				<span class="showStarts dataCell"><input type="checkbox" th:value="${m.showStarts}" th:checked="${m.showStarts}" disabled="disabled"/></span>
				<span class="id cell hidden" th:text="${m.id}">Hidden PK ID</span>
			</div>
		</div>
		<button id="create-record">Create New</button>
	</div>
</body>
</html>