<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Black Hills Aerial Adventures | Operations</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="/css/jqueryui/1.11.3/jquery-ui.css" th:href="@{~/css/jqueryui/1.11.3/jquery-ui.css}"/>
	<link rel="stylesheet" href="/css/main.css" th:href="@{~/css/main.css}"/>
    <script type="text/javascript" src="/js/jquery/1.11.2/jquery.min.js" th:src="@{~/js/jquery/1.11.2/jquery.min.js}"></script>
	<script type="text/javascript" src="/js/jqueryui/1.11.3/jquery-ui.min.js" th:src="@{~/js/jqueryui/1.11.3/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="/js/main.js" th:src="@{~/js/main.js}"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/
    	           
		function buildOptions(){
		
		}
		/*]]>*/
    </script>
    <script type="text/javascript">
  		//<![CDATA[
  		           
		var lengthValidation = [];
		var passwordValidation = [];
		
    	$(function() {
    		var id = $( "#id" ),
        	name = $( "#name" ),
        	active = $( "#active" );
    		
        	allFields = $( [] ).add( id ).add( name ).add( active );
        	addUpdatePath = "/admin/operations";
        	deletePath = "/admin/operations";
    		
    		createDialog();
    		
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(name, "'Name'", 1, 50);
    	});
    	function setSelectValue(formData, element) {

    	}
    	function writeCreatedRecord(savedRecord){
    		var elementBefore;
    		if($(".records-rows").length){
    			elementBefore = $(".records-rows");
    		} else {
    			elementBefore = $(".records-header");
    		}
    		
    		elementBefore.last().after( "<div class='records-rows id"+savedRecord.id+" new-row'>" +
	    			"<span class='dataCell'>" +
			    	"<span class='edit icon'><a href='#' class='editLink' data-id='"+savedRecord.id+"'><img border='0' alt='Edit' src='"+contextPath+"/images/edit.png'/></a></span> " +
			    	"<span class='delete icon'><a href='#' class='deleteLink' data-id='"+savedRecord.id+"'><img border='0' alt='Delete' src='"+contextPath+"/images/delete.png'/></a></span> " +
			    	"</span>" +
			    	"<span class='name dataCell'>"+savedRecord.name+"</span> " +
			    	"<span class='active dataCell'><input type='checkbox' "+getNewCheckboxValue(savedRecord.active)+" disabled='disabled'/></span> " +
			    	"<span class='id cell hidden'>"+savedRecord.id+"</span> " +
		    	"</div>" );    		
    	}
    	function writeEditRecord(savedRecord){
    		var editedRow = $(".id"+savedRecord.id);
    		editedRow.find('.name').html(savedRecord.name);
    		editedRow.find('.id').html(savedRecord.id);
    		editedRow.find('.active input').prop('checked', savedRecord.active);
    		editedRow.addClass('new-row');
    	}
    	function populateEditForm(editLink){
    		var editSpan = $(editLink).closest('span.dataCell');
    		$('#addEditForm').find('#name').val(editSpan.nextAll('span.name').first().html());
    		$('#addEditForm').find('#id').val(editSpan.nextAll('span.id').first().html());
    		
    		var activeValue = editSpan.nextAll('span.active').first().find("input").is(':checked');
    		if(activeValue){
        		$('#addEditForm').find('#active').prop('checked', true);	
    		}
    	}
    	function findDeleteName(deleteLink){
    		return $(deleteLink).closest('span.dataCell').nextAll('span.name').first().html();
    	}
    	//]]>
    </script>
    <style>
    	.active.dataCell {
    		padding-left: 22px;
		}
    </style>
</head>
<body>

	<div th:replace="includes/header :: header">...</div>
	<div id="main-content">
		<H1>Operations</H1>
		<div id="dialog-form" title="Operation">
			<p class="validateTips"></p>
			<form id="addEditForm" action="/operations" th:action="@{~/operations}" method="post">
				<fieldset>
					<label for="name">Name</label>
					<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all"/>
					<label for="active" style="display:inline;">Active</label>
					<input style="display:inline;" type="checkbox" name="active" id="active"/>
					<input type="text" name="id" id="id" class="hidden"/>
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
				</fieldset>
			</form>
		</div>
		<div class="table">
			<div class="records-header">
				<span class="edit delete icon"></span>
			    <span class="headerCell dataCell">Name</span>
			    <span class="headerCell dataCell">Active</span>
			</div>
			<div class="records-rows" th:each="o : ${operations}" th:classappend="|id${o.id}">
				<span class="dataCell">
					<span class="edit icon"><a href="#" class="editLink" th:attr="data-id=${o.id}"><img border="0" alt="Edit" src="/images/edit.png" th:src="@{~/images/edit.png}"/></a></span>
					<span class="delete icon"><a href="#" class="deleteLink" th:attr="data-id=${o.id}"><img border="0" alt="Delete" src="/images/delete.png" th:src="@{~/images/delete.png}"/></a></span>
				</span>
				<span class="name dataCell" th:text="${o.name}">Name</span>
				<span class="active dataCell"><input type="checkbox" th:value="${o.active}" th:checked="${o.active}" disabled="disabled"/></span>
				<span class="id cell hidden" th:text="${o.id}">Hidden PK ID</span>
			</div>
		</div>
		<button id="create-record">Create New</button>
	</div>
</body>
</html>