<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Black Hills Aerial Adventures | Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="/css/jqueryui/1.11.3/jquery-ui.css" th:href="@{~/css/jqueryui/1.11.3/jquery-ui.css}"/>
	<link rel="stylesheet" href="/css/main.css" th:href="@{~/css/main.css}"/>
    <script type="text/javascript" src="/js/jquery/1.11.2/jquery.min.js" th:src="@{~/js/jquery/1.11.2/jquery.min.js}"></script>
	<script type="text/javascript" src="/js/jqueryui/1.11.3/jquery-ui.min.js" th:src="@{~/js/jqueryui/1.11.3/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="/js/main.js" th:src="@{~/js/main.js}"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/

		var ratings = {};
    	var roles = {};
    	           
		function buildOptions(){
			var allRatings = /*[[${allRatings}]]*/;
			for(var i=0; i < allRatings.length; i++) {
				var rating = allRatings[i];
				ratings[rating.id] = rating;
			}
			var allRoles = /*[[${roleList}]]*/;
			for(var i=0; i < allRoles.length; i++) {
				var role = allRoles[i];
				roles[role.key] = role.value;
			}
		}
		/*]]>*/
    </script>
    <script type="text/javascript">
  		//<![CDATA[
  		           
		var lengthValidation = [];
		
    	$(function() {
    		var id = $( "#id" ),
        	userId = $( "#userId" ),
        	firstName = $( "#firstName" ),
        	lastName = $( "#lastName" ),
        	rating = $( "#rating" ),
    		role = $( "#role" ),
    		active = $( "#active" );
    		
        	allFields = $( [] ).add( id ).add( userId ).add( firstName ).add( lastName).add( rating ).add( role ).add( active );
        	addUpdatePath = "/admin/users";
        	deletePath = "/admin/users";
    		
    		createDialog();
    		
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(userId, "'ID'", 1, 15);
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(firstName, "'First Name'", 1, 100);
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(lastName, "'Last Name'", 1, 100);
       	});
    	function setSelectValue(formData, element) {
			if(element.name == 'rating'){
				formData[element.name] = ratings[element.value];
			} else if(element.name == 'role'){
				formData[element.name] = element.value;
			}
    	}
    	function writeCreatedRecord(savedRecord){
    		var elementBefore;
    		if($(".records-rows").length){
    			elementBefore = $(".records-rows");
    		} else {
    			elementBefore = $(".records-header");
    		}
    		
    		elementBefore.last().after( "<div class='records-rows id"+savedRecord.id+" new-row'>" +
	    			"<span class='dataCell'>" +
			    	"<span class='edit icon'><a href='#' class='editLink' data-id='"+savedRecord.id+"'><img border='0' alt='Edit' src='"+contextPath+"/images/edit.png'/></a></span> " +
			    	"<span class='delete icon'><a href='#' class='deleteLink' data-id='"+savedRecord.id+"'><img border='0' alt='Delete' src='"+contextPath+"/images/delete.png'/></a></span> " +
			    	"</span>" +
			    	"<span class='userId dataCell'>"+savedRecord.userId+"</span> " +
			    	"<span class='name dataCell'>"+savedRecord.firstName+" "+savedRecord.lastName+"</span> " +
			    	"<span class='rating dataCell'>"+savedRecord.rating.name+"</span> " +
			    	"<span class='role dataCell'>"+roles[savedRecord.role]+"</span> " +
			    	"<span class='active dataCell'><input type='checkbox' "+getNewCheckboxValue(savedRecord.active)+" disabled='disabled'/></span> " +
			    	"<span class='id cell hidden'>"+savedRecord.id+"</span> " +
			    	"<span class='firstName cell hidden'>"+savedRecord.firstName+"</span> " +
			    	"<span class='lastName cell hidden'>"+savedRecord.lastName+"</span> " +
			    	"<span class='ratingId cell hidden'>"+savedRecord.rating.id+"</span> " +
			    	"<span class='roleValue cell hidden'>"+savedRecord.role+"</span> " +
		    	"</div>" );    		
    	}
    	function writeEditRecord(savedRecord){
    		var editedRow = $(".id"+savedRecord.id);
    		editedRow.find('.userId').html(savedRecord.userId);
    		editedRow.find('.name').html(savedRecord.firstName + ' ' + savedRecord.lastName);
    		editedRow.find('.rating').html(savedRecord.rating.name);
    		editedRow.find('.id').html(savedRecord.id);
    		editedRow.find('.firstName').html(savedRecord.firstName);
    		editedRow.find('.lastName').html(savedRecord.lastName);
    		editedRow.find('.role').html(roles[savedRecord.role]);
    		editedRow.find('.roleValue').html(savedRecord.role);
    		editedRow.find('.active input').prop('checked', savedRecord.active);
    		editedRow.addClass('new-row');
    	}
    	function populateEditForm(editLink){
    		$('#addEditForm').find("option:selected").removeAttr("selected");
    		var editSpan = $(editLink).closest('span.dataCell');
    		$('#addEditForm').find('#userId').val(editSpan.nextAll('span.userId').first().html());
    		$('#addEditForm').find('#firstName').val(editSpan.nextAll('span.firstName').first().html());
    		$('#addEditForm').find('#lastName').val(editSpan.nextAll('span.lastName').first().html());
    		var ratingIdSpan = editSpan.nextAll('span.ratingId');
    		var ratingOptionStr = "select option[value='"+ratingIdSpan.html()+"']";
    		$('#addEditForm').find(ratingOptionStr).prop('selected','selected');
    		var roleValueSpan = editSpan.nextAll('span.roleValue');
    		var roleValueStr = "select option[value='"+roleValueSpan.html()+"']";
    		$('#addEditForm').find(roleValueStr).prop('selected','selected');
    		$('#addEditForm').find('#id').val(editSpan.nextAll('span.id').first().html());
    		
    		var activeValue = editSpan.nextAll('span.active').first().find("input").is(':checked');
    		if(activeValue){
        		$('#addEditForm').find('#active').prop('checked', true);	
    		}
    	}
    	function findDeleteName(deleteLink){
    		return $(deleteLink).closest('span.dataCell').nextAll('span.name').first().html();
    	}
    	//]]>
    </script>
    <style>
    	.active.dataCell {
    		padding-left: 22px;
		}
    </style>
</head>
<body>

	<div th:replace="includes/header :: header">...</div>
	<div id="main-content">
		<H1>Users</H1>
		<div id="dialog-form" title="User">
			<p class="validateTips"></p>
			<form id="addEditForm" action="/users" th:action="@{~/users}" method="post">
				<fieldset>
					<label for="name">ID</label>
					<input type="text" name="userId" id="userId" class="text ui-widget-content ui-corner-all"/>
					<label for="name">First Name</label>
					<input type="text" name="firstName" id="firstName" class="text ui-widget-content ui-corner-all"/>
					<label for="name">Last Name</label>
					<input type="text" name="lastName" id="lastName" class="text ui-widget-content ui-corner-all"/>
					<label for="email">Rating</label>
					<select id="rating" name="rating" class="ui-widget-content ui-corner-all">
						<option th:each="rating : ${allRatings}" th:text="${rating.name}" th:value="${rating.id}">${rating.name}</option>
					</select>
					<label for="role">Role</label>
					<select id="role" name="role" class="ui-widget-content ui-corner-all">
					  <option th:each="role : ${T(com.coptertours.options.Role).values()}" th:value="${role}" th:text="${role.name}"></option>
					</select>
					<label for="active" style="display:inline;">Active</label>
					<input style="display:inline;" type="checkbox" name="active" id="active"/>
					<input type="text" name="id" id="id" class="hidden"/>
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
				</fieldset>
			</form>
		</div>
	
		<div class="table">
			<div class="records-header">
				<span class="edit delete icon"></span>
			    <span class="headerCell dataCell">ID</span>
			    <span class="headerCell dataCell">Name</span>
			    <span class="headerCell dataCell">Rating</span>
			    <span class="headerCell dataCell">Role</span>
			    <span class="headerCell dataCell">Active</span>
			</div>
			<div class="records-rows" th:each="u : ${users}" th:classappend="|id${u.id}">
				<span class="dataCell">
					<span class="edit icon"><a href="#" class="editLink" th:attr="data-id=${u.id}"><img border="0" alt="Edit" src="/images/edit.png" th:src="@{~/images/edit.png}"/></a></span>
					<span class="delete icon"><a href="#" class="deleteLink" th:attr="data-id=${u.id}"><img border="0" alt="Delete" src="/images/delete.png" th:src="@{~/images/delete.png}"/></a></span>
				</span>
				<span class="userId dataCell" th:text="${u.userId}">ID</span>
				<span class="name dataCell" th:text="${u.displayName}">Name</span>
				<span class="rating dataCell" th:text="${u.rating.name}">Rating</span>
				<span class="role dataCell" th:text="${u.role.name}">Action</span>
				<span class="active dataCell"><input type="checkbox" th:value="${u.active}" th:checked="${u.active}" disabled="disabled"/></span>
				<span class="id cell hidden" th:text="${u.id}">Hidden PK ID</span>
				<span class="firstName cell hidden" th:text="${u.firstName}">Hidden First Name</span>
				<span class="lastName cell hidden" th:text="${u.lastName}">Hidden Last Name</span>
				<span class="ratingId cell hidden" th:text="${u.rating.id}">Hidden Rating Id</span>
				<span class="roleValue cell hidden" th:text="${u.role}">Hidden Role</span>
			</div>
		</div>
		<button id="create-record">Create New</button>
	</div>
</body>
</html>