<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Black Hills Aerial Adventures | Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW"/>
	<link rel="stylesheet" href="/css/jqueryui/1.11.3/jquery-ui.css" th:href="@{~/css/jqueryui/1.11.3/jquery-ui.css}"/>
	<link rel="stylesheet" href="/css/main.css" th:href="@{~/css/main.css}"/>
    <script type="text/javascript" src="/js/jquery/1.11.2/jquery.min.js" th:src="@{~/js/jquery/1.11.2/jquery.min.js}"></script>
	<script type="text/javascript" src="/js/jqueryui/1.11.3/jquery-ui.min.js" th:src="@{~/js/jqueryui/1.11.3/jquery-ui.min.js}"></script>
    <script type="text/javascript" src="/js/main.js" th:src="@{~/js/main.js}"></script>
    <script type="text/javascript" src="js/date.js" th:src="@{~/js/date.js}"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/
		var aircraft = /*[[${aircraft}]]*/;
    	var currentHobbs = /*[[${aircraft.hobbs}]]*/;
    	var aircraftTotalTime = /*[[${aircraft.hobbs}+${aircraft.hobbsOffset}+${aircraft.engineTotalTimeOffset}]]*/;    	
		/*]]>*/
    </script>
    <script type="text/javascript">
  		//<![CDATA[
  		           
		var numberValidation = [];
		var dateValidation = [];
  		           
    	$(function() {
    		var id = $( "#id" ),
    		maintenanceTypeId = $( "#maintenanceTypeId" ),
    		adComplianceId = $( "#adComplianceId" ),
    		aircraftId = $( "#aircraftId" ),
    		complyWithHobbs = $( "#complyWithHobbs" ),
    		complyWithDate = $( "#complyWithDate" ),
    		partNumber = $( "#partNumber" ),
    		serialNumber = $( "#serialNumber" ),
    		componentId = $( "#componentId" ),
    		componentName = $( "#componentName" ),
    		linkedMaintenanceTypeId = $( "#linkedMaintenanceTypeId" );
    		
        	allFields = $( [] ).add( id ).add( complyWithHobbs ).add( complyWithDate ).add( maintenanceTypeId ).add( adComplianceId ).add( aircraftId ).add( partNumber ).add( serialNumber ).add( componentId ).add( componentName ).add( linkedMaintenanceTypeId );
        	addUpdatePath = "/aircraftStatus/complyWith";
        	deletePath = "/aircraftStatus/complyWith";
    		
    		createDialog("Save");
    		
    		$( "#complyWithDate" ).datepicker();
    		
    		var hasActionAds = false;
    		$('.maint-rows-ad span.complyWith').each(function() {
    			if($(this).children().length > 0) {
    				hasActionAds = true;
    				return false;
    			}
    		});
    		if(!hasActionAds) {
    			$('.maint-rows-ad span.complyWith').hide();
    			$('span.adComplyWithHeader').hide();
    		}
       	});
    	function addComplyWithDateValidation() {
    		dateValidation[dateValidation.length] = createDateValidationObject($('#complyWithDate'), "'Comply With Date'", false);
    	}
    	function addComplyWithHobbsValidation() {
    		numberValidation[numberValidation.length] = createNumberValidationObject($('#complyWithHobbs'), "'Comply With Aircraft Hours'", false);
    	}
    	function setExtraValues(formData){
    		if(formData['complyWithHobbs']==""){
    			delete formData['complyWithHobbs'];	
    		}
    		if(formData['complyWithDate']==""){
    			delete formData['complyWithDate'];	
    		}
    		if(formData['componentId']!=""){
    			formData['aircraft']=aircraft;
    		}
    	}
    	function writeCreatedRecord(savedRecord){
    		writeEditRecord(savedRecord);
    	}
    	function writeEditRecord(savedRecord){
    		var editedRow;
    		var linkedRow;
    		var adCompliance = false;
    		if(typeof savedRecord.maintenanceTypeId != 'undefined') {
	    		editedRow = $(".maintenanceTypeId-"+savedRecord.maintenanceTypeId);
    			if(savedRecord.linkedComponentId != null) {
    	    		linkedRow = $(".componentId-"+savedRecord.linkedComponentId);
    			}
    		} else if(typeof savedRecord.adComplianceId != 'undefined') {
    			editedRow = $(".adComplianceId-"+savedRecord.adComplianceId);
    			adCompliance = true;
    		} else if(typeof savedRecord.componentName != 'undefined') {
    			editedRow = $(".componentId-"+savedRecord.id);
    			if(savedRecord.maintenanceType != null) {
    	    		linkedRow = $(".maintenanceTypeId-"+savedRecord.maintenanceType.id);
    			}
    		}

    		if(typeof linkedRow != 'undefined') {
    			linkedRow.find('.partNumber').html(savedRecord.partNumber);
    			linkedRow.find('.serialNumber').html(savedRecord.serialNumber);
    			linkedRow.addClass('new-row');
    		}
    		
    		var tbo = editedRow.find('.tbo').html();
    		if(editedRow.find('.aircraftHoursDue').length){ //hourly
    			var hobbsDue;
    			if(savedRecord.complyWithHobbs != null) {
	        		editedRow.find('.complyWithHobbs').html((savedRecord.complyWithHobbs).toFixed(2));
	    			hobbsDue = (Number(savedRecord.complyWithHobbs) + Number(tbo)).toFixed(2);
	    			editedRow.find('.aircraftHoursDue').html(hobbsDue);
	    			var remainingHours = (Number(hobbsDue) - Number(aircraftTotalTime));
	    			editedRow.find('.remainingHours').html(remainingHours.toFixed(2));

	    			editedRow.removeClass('dueNow dueSoon');
	    			if(remainingHours < 10) {
	    				editedRow.addClass('dueNow');
	    			} else if (remainingHours < 20) {
	    				editedRow.addClass('dueSoon');
	    			}
    			}
    		} else if(editedRow.find('.dueDate').length){ //monthly
           		editedRow.find('.complyWithDate').html(savedRecord.complyWithDateDisplay);
       			var complyWithDate = Date.parse(savedRecord.complyWithDateDisplay, "M/d/yyyy");
    			editedRow.removeClass('dueNow dueSoon');
       			if(complyWithDate == null) {
       				editedRow.find('.complyWithDate').html('N/A');
       				editedRow.find('.dueDate').html('N/A');
       				editedRow.find('.remainingDays').html('N/A');
       			} else {
	   				var dueDate = complyWithDate.addMonths(Number(tbo));
	    			editedRow.find('.dueDate').html(dueDate.toString("M/d/yyyy"));
	    			var remainingDays = dateDiffInDays(Date.today(), dueDate);
	    			editedRow.find('.remainingDays').html(remainingDays);
	    			
	    			if(remainingDays < 5) {
	    				editedRow.addClass('dueNow');
	    			} else if (remainingDays < 15) {
	    				editedRow.addClass('dueSoon');
	    			}
       			}
    		}
    		editedRow.find('.partNumber').html(savedRecord.partNumber);
    		editedRow.find('.serialNumber').html(savedRecord.serialNumber);
    		editedRow.find('.maintenanceTypeId').html(savedRecord.maintenanceTypeId);
    		editedRow.find('.adComplianceId').html(savedRecord.adComplianceId);
    		editedRow.find('.aircraftId').html(savedRecord.aircraftId);
    		editedRow.find('.id').html(savedRecord.id);
    		editedRow.addClass('new-row');
    	}
    	function populateEditForm(editLink){
    		var editSpan = $(editLink).closest('span');
    		var isAdCompliance = editSpan.parent('.maint-rows-ad').length;
    		var isComponent = editSpan.parent('.maint-rows-component').length;
    		
    		$('#addEditForm').find('#partNumber').show();
    		$('#addEditForm').find('.partNumber').show();
    		$('#addEditForm').find('#serialNumber').show();
    		$('#addEditForm').find('.serialNumber').show();

    		var showSerialNumAndPartNum = false;
    		
    		if(isAdCompliance) {
	    		$("#addEditForm").attr("action", contextPath + "/aircraftStatus/complyWithAd");
	    		addUpdatePath = contextPath + "/aircraftStatus/complyWithAd";
	    		
	    		$('#addEditForm').find('#partNumber').hide();
	    		$('#addEditForm').find('.partNumber').hide();
	    		$('#addEditForm').find('#serialNumber').hide();
	    		$('#addEditForm').find('.serialNumber').hide();
    		} else if (isComponent) {
    			$("#addEditForm").attr("action", contextPath + "/aircraftStatus/componentUpdate");
    			addUpdatePath = contextPath + "/aircraftStatus/componentUpdate";
    			showSerialNumAndPartNum = true;
    		} else {
    			$("#addEditForm").attr("action", contextPath + "/aircraftStatus/complyWith");
    			addUpdatePath = contextPath + "/aircraftStatus/complyWith";
    			showSerialNumAndPartNum = true;
    		}
    		
    		if(showSerialNumAndPartNum) {
        		$('#addEditForm').find('#partNumber').val(editSpan.nextAll('span.partNumber').first().html());
        		$('#addEditForm').find('#serialNumber').val(editSpan.nextAll('span.serialNumber').first().html());    			
    		}
    		
			$('#addEditForm').find('#complyWithDate').show();
			$('#addEditForm').find('.complyWithDate').show();
			$('#addEditForm').find('#complyWithHobbs').show();
			$('#addEditForm').find('.complyWithHobbs').show();
			
			//reset validation
			dateValidation = [];
			numberValidation = [];;
			
			if(isComponent) {
    			$('#addEditForm').find('#complyWithHobbs').hide();
    			$('#addEditForm').find('.complyWithHobbs').hide();				
    			$('#addEditForm').find('#complyWithDate').hide();
    			$('#addEditForm').find('.complyWithDate').hide();
			} else {
	    		if(editSpan.parent('.maint-rows-month').length) {
	    			$('#addEditForm').find('#complyWithHobbs').hide();
	    			$('#addEditForm').find('.complyWithHobbs').hide();
	    			addComplyWithDateValidation();
	    			$('#complyWithDate').datepicker("setDate", new Date() );
	    		} else if (editSpan.parent('.maint-rows-hour').length || isAdCompliance) {
	    			$('#addEditForm').find('#complyWithDate').hide();
	    			$('#addEditForm').find('.complyWithDate').hide();
	    			addComplyWithHobbsValidation();
	    			$('#addEditForm').find('#complyWithHobbs').val(aircraftTotalTime);
	    		}
			}
    		$('#addEditForm').find('#name').html(editSpan.nextAll('span.name').first().html());
    		$('#addEditForm').find('#id').val(editSpan.nextAll('span.id').first().html());
    		$('#addEditForm').find('#maintenanceTypeId').val(editSpan.nextAll('span.maintenanceTypeId').first().html());
    		$('#addEditForm').find('#aircraftId').val(editSpan.nextAll('span.aircraftId').first().html());
    		$('#addEditForm').find('#adComplianceId').val(editSpan.nextAll('span.adComplianceId').first().html());
    		$('#addEditForm').find('#componentId').val(editSpan.nextAll('span.componentId').first().html());
    		$('#addEditForm').find('#componentName').val(editSpan.nextAll('span.componentName').first().html());
    		$('#addEditForm').find('#linkedMaintenanceTypeId').val(editSpan.nextAll('span.linkedMaintenanceTypeId').first().html());
    	}
    	//]]>
    </script>
    <style>
    	.col {
    		float: left;
    		width: 50%;
    	}
    </style>
</head>
<body th:with="currentHobbs=(${aircraft.hobbs}),engineTotalTime=(${aircraft.hobbs}+${aircraft.hobbsOffset}),aircraftTotalTime=(${aircraft.hobbs}+${aircraft.hobbsOffset}+${aircraft.engineTotalTimeOffset})">

	<div th:replace="includes/header :: header">...</div>

	<div id="main-content">
		<div id="dialog-form" title="Comply With">
			<p class="validateTips"></p>
			<form id="addEditForm" action="/aircraftStatus/complyWith" th:action="@{~/aircraftStatus/complyWith}" method="post">
				<div id="name"></div>
				<fieldset>
					<label for="complyWithDate" class="complyWithDate">Comply With Date</label>
					<input type="text" name="complyWithDate" id="complyWithDate" tabindex="-1" class="text ui-widget-content ui-corner-all"/>
					<label for="complyWithHobbs" class="complyWithHobbs">Comply With Aircraft Hours</label>
					<input type="text" name="complyWithHobbs" id="complyWithHobbs" value="" class="text ui-widget-content ui-corner-all"/>
					<label for="serialNumber" class="serialNumber">Serial Number</label>
					<input type="text" name="serialNumber" id="serialNumber" tabindex="-1" class="text ui-widget-content ui-corner-all"/>
					<label for="partNumber" class="partNumber">Part Number</label>
					<input type="text" name="partNumber" id="partNumber" tabindex="-1" class="text ui-widget-content ui-corner-all"/>
					<input type="text" name="id" id="id" class="hidden"/>
					<input type="text" name="componentName" id="componentName" class="hidden"/>
					<input type="text" name="maintenanceTypeId" id="maintenanceTypeId" class="hidden"/>
					<input type="text" name="adComplianceId" id="adComplianceId" class="hidden"/>
					<input type="text" name="aircraftId" id="aircraftId" class="hidden"/>
					<input type="text" name="componentId" id="componentId" class="hidden"/>
					<input type="text" name="linkedMaintenanceTypeId" id="linkedMaintenanceTypeId" class="hidden"/>
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
				</fieldset>
			</form>
		</div>
		<br/>
		<div>
			<span th:text="${aircraft.model.name}">Model Name</span>
			&nbsp;&nbsp;
			<span><a href="flightLog.html?id=1" th:href="@{~/flightLog.html(id=${aircraft.id})}"><button type="button" class="month-button" role="button"><span class="button-text">Log</span></button></a></span>
			<span th:if="${hasDailyAd}"><a href="adCompliance.html?id=1" th:href="@{~/adComplianceLog.html(id=${aircraft.id})}"><button type="button" class="month-button" role="button"><span class="button-text">Daily AD Compliance</span></button></a></span>
		</div>
		<div th:text="${aircraft.aircraftNumber}">Aircraft Number</div>
		<div th:text="'S/N: ' + ${aircraft.serialNum}">Serial Number</div>
		<div th:text="'Hobbs: ' + ${currentHobbs}">Hobbs</div>
		<div th:text="'Engine Total Time: ' + ${engineTotalTime}">Engine TT</div>
		<div th:text="'Aircraft Total Time: ' + ${aircraftTotalTime}">Aircraft TT</div>

		<br/>
		<div class="category-type" style="width:120px;">Flight Hours</div>
		<div class="table">
			<div class="records-header">
				<span class="dataCell complyWith" sec:authorize="hasRole('ROLE_MECHANIC') or hasRole('ROLE_ADMIN')"></span>
			    <span class="dataCell">Item</span>
			    <span class="dataCell">Serial Num</span>
			    <span class="dataCell">Part Num</span>
			    <span class="dataCell">Manual Num</span>
			    <span class="dataCell">Action</span>
			    <span class="dataCell">A/C Hrs C/W</span>
			    <span class="dataCell">TBO Hours</span>
			    <span class="dataCell">A/C Hrs Due</span>
			    <span class="dataCell">Remaining Hours</span>
			</div>
			<div class="records-rows maint-rows-hour" 
				th:each="maintType : ${flightHourMaintTypes}" 
				th:with="complyWithHobbs=((${maintType.maintenanceLog}==null)?'0':${maintType.maintenanceLog.complyWithHobbs}),
						 hobbsDue=(${maintType.timeBeforeAction}==null ? 'N/A' : (${complyWithHobbs} == null?${maintType.timeBeforeAction}:${complyWithHobbs}+${maintType.timeBeforeAction})),
						 remainingHours=(${hobbsDue}=='N/A' ? 'N/A' : ${hobbsDue}-${aircraftTotalTime}),
						 partNumber=((${maintType.maintenanceLog}==null)?'':${maintType.maintenanceLog.partNumber}),
						 serialNumber=((${maintType.maintenanceLog}==null)?'':${maintType.maintenanceLog.serialNumber})"
				th:classappend="'maintenanceTypeId-'+${maintType.id}+' '+(${maintTypeStat.odd}?'even':'')+' '+((${remainingHours}!=null and ${remainingHours} != 'N/A') ? ((${remainingHours} &lt; 10) ? 'dueNow' : ((${remainingHours} &lt; 20 ) ? 'dueSoon' : '')) : '')"
				>
				<span class="dataCell complyWith" sec:authorize="hasRole('ROLE_MECHANIC') or hasRole('ROLE_ADMIN')"><a href="#" class="editLink" th:attr="data-id=${maintType.id}"><img border="0" title="Comply With" src="images/repair.png" th:src="@{~/images/repair.png}"/></a></span>
				<span class="dataCell name" th:text="${maintType.name}">Item Name</span>
				<span class="dataCell serialNumber" th:text="${serialNumber}">Serial Num</span>
				<span class="dataCell partNumber" th:text="${partNumber}">Part Num</span>
				<span class="dataCell" th:text="${maintType.manualNumber}">Manual Num</span>
				<span class="dataCell" th:text="${maintType.action.name}">Action</span>
				<span class="dataCell complyWithHobbs" th:text="${complyWithHobbs}">599.9</span>
				<span class="dataCell tbo" th:text="${maintType.timeBeforeAction}">100.0</span>
				<span class="dataCell aircraftHoursDue" th:text="${hobbsDue}">699.9</span>
				<span class="dataCell remainingHours" th:text="${remainingHours}">29.0</span>
				<span class="id cell hidden" th:text="( (${maintType.maintenanceLog} == null)? '0' : ${maintType.maintenanceLog.id})">Hidden Maintenance Log ID</span>
				<span class="aircraftId cell hidden" th:text="${aircraft.id}">Hidden Aircraft ID</span>
				<span class="maintenanceTypeId cell hidden" th:text="${maintType.id}">Hidden Maintenace Type ID</span>
			</div>
		</div>
		<div class="category-type" style="width:75px;">Months</div>
		<div class="table">
			<div class="records-header">
				<span class="dataCell complyWith" sec:authorize="hasRole('ROLE_MECHANIC') or hasRole('ROLE_ADMIN')"></span>
			    <span class="dataCell">Item</span>
			    <span class="dataCell">Serial Num</span>
			    <span class="dataCell">Part Num</span>
			    <span class="dataCell">Manual Num</span>
			    <span class="dataCell">Action</span>
			    <span class="dataCell">C/W</span>
			    <span class="dataCell">TBO Months</span>
			    <span class="dataCell">Due Date</span>
			    <span class="dataCell">Remaining Days</span>
			</div>
			<div class="records-rows maint-rows-month" 
				th:each="maintType : ${monthMaintTypes}" 
				th:classappend="'maintenanceTypeId-'+${maintType.id}+' '+(${maintTypeStat.odd}?'even':'')+' '+((${remainingDays}!='N/A') ? ((${remainingDays} &lt; 5) ? 'dueNow' : ((${remainingDays} &lt; 15) ? 'dueSoon' : '')) : 'dueNow')" 
				th:with="complyWithDate=((${maintType.maintenanceLog}==null)?'N/A':${maintType.maintenanceLog.complyWithDate}),
						 dueDate=((${maintType.timeBeforeAction}==null or ${maintType.maintenanceLog}==null or ${complyWithDate}==null)?'N/A':${#dates.format(T(com.coptertours.util.DateUtil).addMonths(complyWithDate, maintType.timeBeforeAction), 'MM/dd/yyyy')}),
						 remainingDays=((${maintType.maintenanceLog} == null or ${dueDate == 'N/A'})?'N/A':${T(com.coptertours.util.DateUtil).findDaysBetweenDates(today, dueDate)}),
						 partNumber=((${maintType.maintenanceLog}==null)?'':${maintType.maintenanceLog.partNumber}),
						 serialNumber=((${maintType.maintenanceLog}==null)?'':${maintType.maintenanceLog.serialNumber})"
				>
				<span class="dataCell complyWith" sec:authorize="hasRole('ROLE_MECHANIC') or hasRole('ROLE_ADMIN')"><a href="#" class="editLink" th:attr="data-id=${maintType.id}"><img border="0" title="Comply With" src="images/repair.png" th:src="@{~/images/repair.png}"/></a></span>
				<span class="dataCell name" th:text="${maintType.name}">Item Name</span>
				<span class="dataCell serialNumber" th:text="${serialNumber}">Serial Num</span>
				<span class="dataCell partNumber" th:text="${partNumber}">Part Num</span>
				<span class="dataCell" th:text="${maintType.manualNumber}">Manual Num</span>
				<span class="dataCell" th:text="${maintType.action.name}">Action</span>
				<span class="dataCell complyWithDate" th:text="((${maintType.maintenanceLog} == null or ${complyWithDate} == null)?'N/A':${#dates.format(complyWithDate, 'MM/dd/yyyy')})">01/01/15</span>
				<span class="dataCell tbo" th:text="${#numbers.formatInteger(maintType.timeBeforeAction,1)}">24</span>
				<span class="dataCell dueDate" th:text="${dueDate}">1/1/9999</span>
				<span class="dataCell remainingDays" th:text="${remainingDays}">76</span>
				<span class="id cell hidden" th:text="((${maintType.maintenanceLog} == null)?'0':${maintType.maintenanceLog.id})">Hidden Maintenance Log ID</span>
				<span class="aircraftId cell hidden" th:text="${aircraft.id}">Hidden Aircraft ID</span>
				<span class="maintenanceTypeId cell hidden" th:text="${maintType.id}">Hidden Maintenace Type ID</span>
			</div>
		</div>
		<div class="category-type" style="width:45px;">ADs</div>
		<div class="table">
			<div class="records-header">
				<span class="dataCell complyWith adComplyWithHeader"></span>
			    <span class="dataCell">Name</span>
			    <span class="dataCell">A/C Hrs or Date C/W</span>
			    <span class="dataCell">TBO</span>
			    <span class="dataCell">Aircraft Hours Due</span>
			    <span class="dataCell">Remaining Hours</span>
			</div>
			<div class="records-rows maint-rows-ad" th:each="adCompliance : ${adCompliances}" th:classappend="'adComplianceId-'+${adCompliance.id}+' '+(${adComplianceStat.odd}?'even':'')+' '+(${adCompliance.daily} ? ((${complyWithDate}!='N/A') ? ((${T(com.coptertours.util.DateUtil).findDaysBetweenDates(complyWithDate, today)} &gt; 0) ? 'dueNow') : 'dueNow') : ((${remainingHours}!=null) ? ((${remainingHours} &lt; 10) ? 'dueNow' : ((${remainingHours} &lt; 20 ) ? 'dueSoon' : '')) : ''))" th:with="complyWithAircraftHours=(!${adCompliance.daily}?((${adCompliance.adComplianceLog}==null)?'0':${adCompliance.adComplianceLog.complyWithHobbs})), aircraftHoursDue=(!${adCompliance.daily} ? (${complyWithAircraftHours}+${adCompliance.timeBeforeAction})), remainingHours=(!${adCompliance.daily} ? (${aircraftHoursDue}-${aircraftTotalTime})), complyWithDate=((!${adCompliance.daily} or ${adCompliance.adComplianceLog} == null)?'N/A':${#dates.format(adCompliance.adComplianceLog.complyWithDate, 'MM/dd/yyyy')})">
				<span class="dataCell complyWith" th:if="${adCompliance.daily}"><a href="#" th:href="@{~/adComplianceLog.html(id=${aircraft.id},adComplianceId=${adCompliance.id})}"><img border="0" title="Comply With" src="images/repair.png" th:src="@{~/images/repair.png}"/></a></span>
				<span class="dataCell complyWith editLink" sec:authorize="hasRole('ROLE_MECHANIC') or hasRole('ROLE_ADMIN')" th:if="!${adCompliance.daily}" ><a href="#" th:attr="data-id=${adCompliance.id}"><img border="0" title="Comply With" src="images/repair.png" th:src="@{~/images/repair.png}"/></a></span>
				<span class="dataCell complyWith" th:if="!${adCompliance.daily}" sec:authorize="!hasRole('ROLE_MECHANIC') and !hasRole('ROLE_ADMIN')"></span>
				<span class="dataCell name" th:text="${adCompliance.name}">Name</span>
				<span class="dataCell" th:classappend="${adCompliance.daily} ? 'complyWithDate' : 'complyWithHobbs'" th:text="${adCompliance.daily} ? ${complyWithDate} : ${complyWithAircraftHours}">599.9</span>
				<span class="dataCell tbo" th:text="${adCompliance.daily} ? 'Daily' : ${adCompliance.timeBeforeAction}">100.0</span>
				<span class="dataCell" th:classappend="${adCompliance.daily} ? 'dueDate' : 'aircraftHoursDue'" th:text="${adCompliance.daily} ? 'Daily' : ${aircraftHoursDue}">699.9</span>
				<span class="dataCell remainingHours" th:text="${adCompliance.daily} ? 'Daily' : ${remainingHours}">29.0</span>
				<span class="id cell hidden" th:text="( (${adCompliance.adComplianceLog} == null)? '0' : ${adCompliance.adComplianceLog.id})">Hidden AD Compliance Log ID</span>
				<span class="aircraftId cell hidden" th:text="${aircraft.id}">Hidden Aircraft ID</span>
				<span class="adComplianceId cell hidden" th:text="${adCompliance.id}">Hidden AD Compliance ID</span>
			</div>
		</div>
		<div class="category-type" style="width:255px;" th:if="${aircraft.model.showMajorComponents}">Major Aircraft Components</div>
		<div class="table" th:if="${aircraft.model.showMajorComponents}">
			<div class="records-header">
				<span class="dataCell" sec:authorize="hasRole('ROLE_MECHANIC') or hasRole('ROLE_ADMIN')"></span>
				<span class="dataCell">Name</span>
				<span class="dataCell">Serial Num</span>
				<span class="dataCell">Part Num</span>
			</div>
			<div class="records-rows maint-rows-component" th:each="component : ${components}" th:classappend="'componentId-'+${component.id}+' '+(${componentStat.odd}?'even':'')">
				<span class="dataCell complyWith editLink" sec:authorize="hasRole('ROLE_MECHANIC') or hasRole('ROLE_ADMIN')"><a href="#" th:attr="data-id=${component.id}"><img border="0" title="Edit" src="images/repair.png" th:src="@{~/images/repair.png}"/></a></span>
				<span class="dataCell componentName" th:text="${component.componentName}">Component Name</span>
				<span class="dataCell serialNumber" th:text="${component.serialNumber}">Serial Num</span>
				<span class="dataCell partNumber" th:text="${component.partNumber}">Part Num</span>
				<span class="aircraftId cell hidden" th:text="${aircraft.id}">Hidden Aircraft ID</span>
				<span class="componentId cell hidden" th:text="${component.id}">Hidden Component ID</span>
				<span class="id cell hidden" th:text="${component.id}">Hidden Component ID</span>
				<span class="linkedMaintenanceTypeId cell hidden" th:text="(${component.maintenanceType} == null) ? '0' : ${component.maintenanceType.id}">Hidden Component Maintenance Type Id</span>
			</div>
		</div>
		<span><a href="resetLog.html?i=hobbs" th:href="@{~/resetLog.html(id=${aircraft.id}, i=hobbs)}"><button type="button" class="month-button" role="button"><span class="button-text">Reset Hobbs Meter</span></button></a></span>
		<span><a href="resetLog.html?i=engine" th:href="@{~/resetLog.html(id=${aircraft.id}, i=engine)}"><button type="button" class="month-button" role="button"><span class="button-text">Reset Engine Time</span></button></a></span>
	</div>	
</body>
</html>