<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Black Hills Aerial Adventures | Status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="css/jqueryui/1.11.3/jquery-ui.css" />
	<link rel="stylesheet" href="css/main.css" />
    <script type="text/javascript" src="js/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/date.js"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/

		var aircraft = /*[[${aircraft}]]*/;
    	var currentHobbs = /*[[${aircraft.hobbs}]]*/;

		/*]]>*/
    </script>
    <script type="text/javascript">
  		//<![CDATA[
  		           
		var numberValidation = [];
		var dateValidation = [];
  		           
    	$(function() {
    		var id = $( "#id" ),
    		maintenanceTypeId = $( "#maintenanceTypeId" ),
    		adComplianceId = $( "#adComplianceId" ),
    		aircraftId = $( "#aircraftId" ),
    		complyWithHobbs = $( "#complyWithHobbs" ),
    		complyWithDate = $( "#complyWithDate" );
    		
        	allFields = $( [] ).add( id ).add( complyWithHobbs ).add( complyWithDate ).add( maintenanceTypeId ).add( adComplianceId ).add( aircraftId );
        	addUpdatePath = "/aircraftStatus/complyWith";
        	deletePath = "/aircraftStatus/complyWith";
    		
    		createDialog("Save");
    		
    		$( "#complyWithDate" ).datepicker();
       	});
    	function addComplyWithDateValidation() {
    		dateValidation[dateValidation.length] = createDateValidationObject($('#complyWithDate'), "'Comply With Date'");
    	}
    	function addComplyWithHobbsValidation() {
    		numberValidation[numberValidation.length] = createNumberValidationObject($('#complyWithHobbs'), "'Comply With Hobbs'");
    	}
    	function setExtraValues(formData){
    		//formData["aircraftId"] = aircraft;
    	}
    	function writeCreatedRecord(savedRecord){
    		writeEditRecord(savedRecord);
    	}
    	function writeEditRecord(savedRecord){
    		var editedRow;
    		var adCompliance = false;
    		if(typeof savedRecord.maintenanceTypeId != 'undefined') {
	    		editedRow = $(".maintenanceTypeId-"+savedRecord.maintenanceTypeId);
    		} else if(typeof savedRecord.adComplianceId != 'undefined') {
    			editedRow = $(".adComplianceId-"+savedRecord.adComplianceId);
    			adCompliance = true;
    		}
	    	var tbo = editedRow.find('.tbo').html();
    		if(editedRow.find('.hobbsDue').length){
        		editedRow.find('.complyWithHobbs').html((savedRecord.complyWithHobbs).toFixed(2));
    			var hobbsDue = (Number(savedRecord.complyWithHobbs) + Number(tbo)).toFixed(2);
    			editedRow.find('.hobbsDue').html(hobbsDue);
    			var remainingHours = (Number(hobbsDue) - Number(currentHobbs));
    			editedRow.find('.remainingHours').html(remainingHours.toFixed(2));
    			
    			editedRow.removeClass('dueNow dueSoon');
    			if(remainingHours < 10) {
    				editedRow.addClass('dueNow');
    			} else if (remainingHours < 20) {
    				editedRow.addClass('dueSoon');
    			}
    		} else if(editedRow.find('.dueDate').length){
           		editedRow.find('.complyWithDate').html(savedRecord.complyWithDateDisplay);
       			var complyWithDate = Date.parse(savedRecord.complyWithDateDisplay, "M/d/yyyy");
   				var dueDate = complyWithDate.addMonths(Number(tbo));
    			editedRow.find('.dueDate').html(dueDate.toString("M/d/yyyy"));
    			var remainingDays = dateDiffInDays(Date.today(), dueDate);
    			editedRow.find('.remainingDays').html(remainingDays);
    			
    			editedRow.removeClass('dueNow dueSoon');
    			if(remainingDays < 5) {
    				editedRow.addClass('dueNow');
    			} else if (remainingDays < 15) {
    				editedRow.addClass('dueSoon');
    			}
    		}
    		editedRow.find('.maintenanceTypeId').html(savedRecord.maintenanceTypeId);
    		editedRow.find('.adComplianceId').html(savedRecord.adComplianceId);
    		editedRow.find('.aircraftId').html(savedRecord.aircraftId);
    		editedRow.find('.id').html(savedRecord.id);
    	}
    	function populateEditForm(editLink){
    		var dailyAD = $(editLink).parent('.daily').length;
    		var nonDailyAD = $(editLink).parent('.nonDaily').length;
    		
    		if(dailyAD || nonDailyAD) {
	    		$("#addEditForm").attr("action", "/aircraftStatus/complyWithAd");
	    		addUpdatePath = "/aircraftStatus/complyWithAd";
    		} else {
    			$("#addEditForm").attr("action", "/aircraftStatus/complyWith");
    			addUpdatePath = "/aircraftStatus/complyWith";
    		}    		
    		
    		var editSpan = $(editLink).closest('span');
			$('#addEditForm').find('#complyWithDate').show();
			$('#addEditForm').find('.complyWithDate').show();
			$('#addEditForm').find('#complyWithHobbs').show();
			$('#addEditForm').find('.complyWithHobbs').show();
			
			//reset validation
			dateValidation = [];
			numberValidation = [];;
			
    		if(editSpan.parent('.maint-rows-month').length || dailyAD) {
    			$('#addEditForm').find('#complyWithHobbs').hide();
    			$('#addEditForm').find('.complyWithHobbs').hide();
    			addComplyWithDateValidation();
    			$('#complyWithDate').datepicker("setDate", new Date() );
    		} else if (editSpan.parent('.maint-rows-hour').length || nonDailyAD) {
    			$('#addEditForm').find('#complyWithDate').hide();
    			$('#addEditForm').find('.complyWithDate').hide();
    			addComplyWithHobbsValidation();
    			$('#addEditForm').find('#complyWithHobbs').val(currentHobbs);
    		}
    		$('#addEditForm').find('#id').val(editSpan.nextAll('span.id').first().html());
    		$('#addEditForm').find('#maintenanceTypeId').val(editSpan.nextAll('span.maintenanceTypeId').first().html());
    		$('#addEditForm').find('#aircraftId').val(editSpan.nextAll('span.aircraftId').first().html());
    		$('#addEditForm').find('#adComplianceId').val(editSpan.nextAll('span.adComplianceId').first().html());
    	}
    	//]]>
    </script>
    <style>
    	.col {
    		float: left;
    		width: 50%;
    	}
    </style>
</head>
<body th:with="currentHobbs=(${aircraft.hobbs}),engineTotalTime=(${aircraft.hobbs}+${aircraft.hobbsOffset}),aircraftTotalTime=(${aircraft.hobbs}+${aircraft.hobbsOffset}+${aircraft.engineTotalTimeOffset})">

	<div th:replace="includes/header :: header">...</div>

	<div id="main-content">
		<div id="dialog-form" title="Comply With">
			<p class="validateTips"></p>
			<form id="addEditForm" action="/aircraftStatus/complyWith" method="post">
				<fieldset>
					<label for="complyWithDate" class="complyWithDate">Comply With Date</label>
					<input type="text" name="complyWithDate" id="complyWithDate" tabindex="-1" class="text ui-widget-content ui-corner-all"/>
					<label for="complyWithHobbs" class="complyWithHobbs">Comply With Hobbs</label>
					<input type="text" name="complyWithHobbs" id="complyWithHobbs" value="" class="text ui-widget-content ui-corner-all"/>
					<input type="text" name="id" id="id" class="hidden"/>
					<input type="text" name="maintenanceTypeId" id="maintenanceTypeId" class="hidden"/>
					<input type="text" name="adComplianceId" id="adComplianceId" class="hidden"/>
					<input type="text" name="aircraftId" id="aircraftId" class="hidden"/>
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
				</fieldset>
			</form>
		</div>
		<br/>
		<div>
			<span th:text="${aircraft.model.name}">Model Name</span>
			&nbsp;&nbsp;
			<span><a href="flightLog.html?id=1" th:href="@{flightLog.html(id=${aircraft.id})}"><button type="button" class="month-button" role="button"><span class="button-text">Log</span></button></a></span>
			<span><a href="adCompliance.html?id=1" th:href="@{adComplianceLog.html(id=${aircraft.id})}"><button type="button" class="month-button" role="button"><span class="button-text">AD Compliance</span></button></a></span>
		</div>
		<div th:text="${aircraft.aircraftNumber}">ID</div>
		<div th:text="'S/N: ' + ${aircraft.serialNum}">Serial Number</div>
		<div th:text="'Hobbs: ' + ${currentHobbs}">Hobbs</div>
		<div th:text="'Engine Total Time: ' + ${engineTotalTime}">Engine TT</div>
		<div th:text="'Aircraft Total Time: ' + ${aircraftTotalTime}">Aircraft TT</div>

		<br/>
		<div class="category-type">Flight Hours</div>
		<div class="table">
			<div class="records-header">
				<span class="dataCell complyWith"></span>
			    <span class="dataCell">Item</span>
			    <span class="dataCell">C/W</span>
			    <span class="dataCell">TBO Hours</span>
			    <span class="dataCell">Hobbs Due</span>
			    <span class="dataCell">Remaining Hours</span>
			</div>
			<div class="records-rows maint-rows-hour" th:each="maintType : ${flightHourMaintTypes}" th:classappend="'maintenanceTypeId-'+${maintType.id}+' '+((${remainingHours}!=null) ? ((${remainingHours} &lt; 10) ? 'dueNow' : ((${remainingHours} &lt; 20 ) ? 'dueSoon' : '')) : '')" th:with="complyWithHobbs=((${maintType.maintenanceLog}==null)?'0':${maintType.maintenanceLog.complyWithHobbs}),hobbsDue=(${complyWithHobbs}+${maintType.timeBeforeAction}),remainingHours=(${hobbsDue}-${currentHobbs})">
				<span class="dataCell complyWith"><a href="#" class="editLink" th:attr="data-id=${maintType.id}"><img border="0" alt="Comply With" src="images/repair.png" width="15" height="15"/></a></span>
				<span class="dataCell" th:text="${maintType.name}">Item Name</span>
				<span class="dataCell complyWithHobbs" th:text="${complyWithHobbs}">599.9</span>
				<span class="dataCell tbo" th:text="${maintType.timeBeforeAction}">100.0</span>
				<span class="dataCell hobbsDue" th:text="${hobbsDue}">699.9</span>
				<span class="dataCell remainingHours" th:text="${remainingHours}">29.0</span>
				<span class="id cell hidden" th:text="( (${maintType.maintenanceLog} == null)? '0' : ${maintType.maintenanceLog.id})">Hidden Maintenance Log ID</span>
				<span class="aircraftId cell hidden" th:text="${aircraft.id}">Hidden Aircraft ID</span>
				<span class="maintenanceTypeId cell hidden" th:text="${maintType.id}">Hidden Maintenace Type ID</span>
			</div>
		</div>
		<div class="category-type">Months</div>
		<div class="table">
			<div class="records-header">
				<span class="dataCell complyWith"></span>
			    <span class="dataCell">Item</span>
			    <span class="dataCell">C/W</span>
			    <span class="dataCell">TBO Months</span>
			    <span class="dataCell">Due Date</span>
			    <span class="dataCell">Remaining Days</span>
			</div>
			<div class="records-rows maint-rows-month" th:each="maintType : ${monthMaintTypes}" th:classappend="'maintenanceTypeId-'+${maintType.id}+' '+((${remainingDays}!='N/A') ? ((${remainingDays} &lt; 5) ? 'dueNow' : ((${remainingDays} &lt; 15) ? 'dueSoon' : '')) : 'dueNow')" th:with="complyWithDate=((${maintType.maintenanceLog}==null)?'N/A':${maintType.maintenanceLog.complyWithDate}),dueDate=((${maintType.maintenanceLog}==null)?'N/A':${#dates.format(T(com.coptertours.util.DateUtil).addMonths(complyWithDate, maintType.timeBeforeAction), 'MM/dd/yyyy')}),remainingDays=((${maintType.maintenanceLog} == null)?'N/A':${T(com.coptertours.util.DateUtil).findDaysBetweenDates(today, dueDate)})">
				<span class="dataCell complyWith"><a href="#" class="editLink" th:attr="data-id=${maintType.id}"><img border="0" alt="Comply With" src="images/repair.png" width="15" height="15"/></a></span>
				<span class="dataCell" th:text="${maintType.name}">Item Name</span>
				<span class="dataCell complyWithDate" th:text="((${maintType.maintenanceLog} == null)?'N/A':${#dates.format(complyWithDate, 'MM/dd/yyyy')})">01/01/15</span>
				<span class="dataCell tbo" th:text="${#numbers.formatInteger(maintType.timeBeforeAction,1)}">24</span>
				<span class="dataCell dueDate" th:text="${dueDate}">1/1/9999</span>
				<span class="dataCell remainingDays" th:text="${remainingDays}">76</span>
				<span class="id cell hidden" th:text="((${maintType.maintenanceLog} == null)?'0':${maintType.maintenanceLog.id})">Hidden Maintenance Log ID</span>
				<span class="aircraftId cell hidden" th:text="${aircraft.id}">Hidden Aircraft ID</span>
				<span class="maintenanceTypeId cell hidden" th:text="${maintType.id}">Hidden Maintenace Type ID</span>
			</div>
		</div>
		<div class="category-type">ADs</div>
		<div class="table">
			<div class="records-header">
				<span class="dataCell complyWith"></span>
			    <span class="dataCell">Name</span>
			    <span class="dataCell">C/W</span>
			    <span class="dataCell">TBO</span>
			    <span class="dataCell">Hobbs Due</span>
			    <span class="dataCell">Remaining Hours</span>
			</div>
			<div class="records-rows maint-rows-ad" th:each="adCompliance : ${adCompliances}" th:classappend="'adComplianceId-'+${adCompliance.id}+' '+(${adCompliance.daily} ? ((${complyWithDate}!='N/A') ? ((${T(com.coptertours.util.DateUtil).findDaysBetweenDates(complyWithDate, today)} &gt; 0) ? 'dueNow') : 'dueNow') : ((${remainingHours}!=null) ? ((${remainingHours} &lt; 10) ? 'dueNow' : ((${remainingHours} &lt; 20 ) ? 'dueSoon' : '')) : ''))" th:with="complyWithHobbs=(!${adCompliance.daily}?((${adCompliance.adComplianceLog}==null)?'0':${adCompliance.adComplianceLog.complyWithHobbs})), hobbsDue=(!${adCompliance.daily} ? (${complyWithHobbs}+${adCompliance.timeBeforeAction})), remainingHours=(!${adCompliance.daily} ? (${hobbsDue}-${currentHobbs})), complyWithDate=((!${adCompliance.daily} or ${adCompliance.adComplianceLog} == null)?'N/A':${#dates.format(adCompliance.adComplianceLog.complyWithDate, 'MM/dd/yyyy')})">
				<span class="dataCell complyWith" th:classappend="${adCompliance.daily} ? 'daily' : 'nonDaily'"><a href="#" th:href="${adCompliance.daily} ? (@{adComplianceLog.html(id=${aircraft.id},adComplianceId=${adCompliance.id})}) : '#'" th:classappend="!${adCompliance.daily} ? 'editLink'" th:attr="data-id=${adCompliance.id}"><img border="0" alt="Comply With" src="images/repair.png" width="15" height="15"/></a></span>
				<span class="dataCell" th:text="${adCompliance.name}">Name</span>
				<span class="dataCell" th:classappend="${adCompliance.daily} ? 'complyWithDate' : 'complyWithHobbs'" th:text="${adCompliance.daily} ? ${complyWithDate} : ${complyWithHobbs}">599.9</span>
				<span class="dataCell tbo" th:text="${adCompliance.daily} ? 'Daily' : ${adCompliance.timeBeforeAction}">100.0</span>
				<span class="dataCell" th:classappend="${adCompliance.daily} ? 'dueDate' : 'hobbsDue'" th:text="${adCompliance.daily} ? 'Daily' : ${hobbsDue}">699.9</span>
				<span class="dataCell remainingHours" th:text="${adCompliance.daily} ? 'Daily' : ${remainingHours}">29.0</span>
				<span class="id cell hidden" th:text="( (${adCompliance.adComplianceLog} == null)? '0' : ${adCompliance.adComplianceLog.id})">Hidden AD Compliance Log ID</span>
				<span class="aircraftId cell hidden" th:text="${aircraft.id}">Hidden Aircraft ID</span>
				<span class="adComplianceId cell hidden" th:text="${adCompliance.id}">Hidden AD Compliance ID</span>
			</div>
		</div>
		<span><a href="resetLog.html?i=hobbs" th:href="@{resetLog.html(id=${aircraft.id}, i=hobbs)}"><button type="button" class="month-button" role="button"><span class="button-text">Reset Hobbs Meter</span></button></a></span>
		<span><a href="resetLog.html?i=engine" th:href="@{resetLog.html(id=${aircraft.id}, i=engine)}"><button type="button" class="month-button" role="button"><span class="button-text">Reset Engine Time</span></button></a></span>
	</div>	
</body>
</html>