<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Black Hills Aerial Adventures | Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="css/jqueryui/1.11.3/jquery-ui.css" />
	<link rel="stylesheet" href="css/main.css" />
    <script type="text/javascript" src="js/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/

    	//]]>
    </script>
    <style>
    	.col {
    		float: left;
    		width: 50%;
    	}
    </style>
</head>
<body>

	<div th:replace="includes/header :: header">...</div>

	<div class="dashboard-grid">
		<div class="col" th:each="a : ${aircrafts}" th:classappend="${aStat.odd}?'odd':'even'">
			<span class="name" th:text="${a.name}">Name</span>:
			<a href="flightLog.html?id=1" th:href="@{flightLog.html(id=${a.id})}">Log</a>
			|
			<a href="aircraftStatus.html?id=1" th:href="@{aircraftStatus.html(id=${a.id})}">Status</a>
			|
			<a href="adCompliance.html?id=1" th:href="@{adCompliance.html(id=${a.id})}">AD Compliance</a>
		</div>
	</div>
</body>
</html>