<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Black Hills Aerial Adventures | Flight Logs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="css/jqueryui/1.11.3/jquery-ui.css" />
	<link rel="stylesheet" href="css/main.css" />
    <script type="text/javascript" src="js/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/

		var users = {};
		var locations = {};
		var operations = {};
    	           
		function buildOptions(){
			var allUsers = /*[[${allUsers}]]*/;
			for(var i=0; i < allUsers.length; i++) {
				var user = allUsers[i];
				users[user.id] = user;
			}	
			var allLocations = /*[[${allLocations}]]*/;
			for(var i=0; i < allLocations.length; i++) {
				var location = allLocations[i];
				locations[location.id] = location;
			}
			var allOperations = /*[[${allOperations}]]*/;
			for(var i=0; i < allOperations.length; i++) {
				var operation = allOperations[i];
				operations[operation.id] = operation;
			}
		}
		
		var aircraft = JSON.parse(/*[[${aircraftJSON}]]*/);
		var month = /*[[${month}]]*/;
		var mostRecentHobbsEnd = /*[[${mostRecentHobbsEnd}]]*/;
		var showStarts = /*[[${aircraft.model.showStarts}]]*/;
		var monthlyHobbsTotal = /*[[${monthlyHobbsTotal}]]*/;
		/*]]>*/
    </script>
    <script type="text/javascript">
  		//<![CDATA[
  		           
		var lengthValidation = [];
		var numberValidation = [];
		var dateValidation = [];
		var passwordValidation = [];
				
    	$(function() {
    		var id = $( "#id" ),
        	user = $( "#user" ),
        	date = $( "#date" ),
        	starts = $( "#starts" ),
        	location = $( "#location" ),
        	hobbsBegin = $( "#hobbsBegin" ),
        	hobbsEnd = $( "#hobbsEnd" ),
        	operation = $( "#operation" );
    		
        	allFields = $( [] ).add( id ).add( user ).add( date ).add( starts ).add( location ).add( hobbsBegin ).add( hobbsEnd ).add( operation );
        	addUpdatePath = "/flightLogs";
        	deletePath = "/flightLogs";
    		
    		createDialog();
    		
    		$( "#date" ).datepicker();
    		
    		dateValidation[dateValidation.length] = createDateValidationObject(date, "'Date'");
    		numberValidation[numberValidation.length] = createNumberValidationObject(hobbsBegin, "'Hobbs Begin'");
    		numberValidation[numberValidation.length] = createNumberValidationObject(hobbsEnd, "'Hobbs End'");
    	});
    	function extraValidation() {
    		return checkHobbsValid();
    	}
    	function checkHobbsValid() {
    		if( Number(hobbsEnd.value) > Number(hobbsBegin.value) ) {
    			return true;	
    		}
    		$( "#hobbsEnd" ).addClass( "ui-state-error" );
    		updateTips( "'Hobbs End' must be greater than 'Hobbs Begin'" );
    		return false;
    	}
    	function setSelectValue(formData, element) {
			if(element.name == 'user'){
				formData[element.name] = users[element.value];
			} else if(element.name == 'location'){
				formData[element.name] = locations[element.value];
			} else if(element.name == 'operation'){
				formData[element.name] = operations[element.value];
			}
    	}
    	function setExtraValues(formData) {
    		formData["aircraft"] = aircraft;    		
    	}
    	function writeCreatedRecord(savedRecord){
    		var flightLogDate = new Date(savedRecord.date);
    		var flightLogMonth = flightLogDate.getMonth();
    		if(month == flightLogMonth){
	    		var elementBefore;
	    		if($(".records-rows").length){
	    			elementBefore = $(".records-rows");
	    		} else {
	    			elementBefore = $(".records-header");
	    		}
	    		
	    		var newRecord = "<div class='records-rows id"+savedRecord.id+" new-row'>" +
					"<span class='dataCell'>" +
				    	"<span class='edit icon'><a href='#' class='editLink' data-id='"+savedRecord.id+"'><img border='0' alt='Edit' src='images/edit.png'/></a></span> " +
				    	"<span class='delete icon'><a href='#' class='deleteLink' data-id='"+savedRecord.id+"'><img border='0' alt='Delete' src='images/delete.png'/></a></span> " +
			    	"</span>" +
			    	"<span class='date dataCell'>"+savedRecord.flightLogDateDisplay+"</span> " +
			    	"<span class='user dataCell'>"+savedRecord.user.firstName+" "+savedRecord.user.lastName+"</span> ";
			    if(showStarts) {
			    	newRecord += 
			    		"<span class='starts dataCell'>"+savedRecord.starts+"</span> ";
			    }
			    var hobbsTotal = (savedRecord.hobbsEnd-savedRecord.hobbsBegin);
			    monthlyHobbsTotal = Number(monthlyHobbsTotal) + Number(hobbsTotal);
			    $('.monthly-hobbs-total').html(monthlyHobbsTotal.toFixed(2));
			    
			    newRecord += 
			    	"<span class='location dataCell'>"+savedRecord.location.name+"</span> " +
			    	"<span class='hobbsBegin dataCell'>"+savedRecord.hobbsBegin.toFixed(2)+"</span> " +
			    	"<span class='hobbsEnd dataCell'>"+savedRecord.hobbsEnd.toFixed(2)+"</span> " +
			    	"<span class='hobbsTotal dataCell'>"+hobbsTotal.toFixed(2)+"</span> " +
			    	"<span class='operation dataCell'>"+savedRecord.operation.name+"</span> " +
			    	"<span class='id cell hidden'>"+savedRecord.id+"</span> " +
			    	"<span class='userId cell hidden'>"+savedRecord.user.id+"</span> " +
			    	"<span class='locationId cell hidden'>"+savedRecord.location.id+"</span> " +
			    	"<span class='operationId cell hidden'>"+savedRecord.operation.id+"</span> " +
			    	"<span class='dateDisplay dataCell hidden'>"+savedRecord.dateDisplay+"</span> " +
	    		"</div>";
	    		
	    		elementBefore.last().after( newRecord );  
	    		findMostRecentHobbsEndByAircraft();
	    		if(showStarts) {
		    		totalStartsByYear();
	    		}
    		} else {
    			window.location.href = $("#monthLink"+(flightLogMonth+1)).attr("href");
    		}
    	}
    	function writeEditRecord(savedRecord){
    		var flightLogDate = new Date(savedRecord.date);
    		var flightLogMonth = flightLogDate.getMonth();
    		if(month == flightLogMonth){
	    		var editedRow = $(".id"+savedRecord.id);
	    		editedRow.find('.user').html(savedRecord.user.firstName + ' ' + savedRecord.user.lastName);
	    		editedRow.find('.date').html(savedRecord.flightLogDateDisplay);
	    		if(showStarts) {
		    		editedRow.find('.starts').html(savedRecord.starts);
	    		}
	    		
			    var hobbsTotal = (savedRecord.hobbsEnd-savedRecord.hobbsBegin);
			    var oldHobbsTotal = editedRow.find('.hobbsTotal').html();
			    var hobbsDiff = Number(hobbsTotal)-Number(oldHobbsTotal);
			    monthlyHobbsTotal = Number(monthlyHobbsTotal) + Number(hobbsDiff);
			    $('.monthly-hobbs-total').html(monthlyHobbsTotal.toFixed(2));
	    		
	    		editedRow.find('.location').html(savedRecord.location.name);
	    		editedRow.find('.hobbsBegin').html(savedRecord.hobbsBegin.toFixed(2));
	    		editedRow.find('.hobbsEnd').html(savedRecord.hobbsEnd.toFixed(2));
	    		editedRow.find('.hobbsTotal').html(hobbsTotal.toFixed(2));
	    		editedRow.find('.operation').html(savedRecord.operation.name);
	    		editedRow.find('.id').html(savedRecord.id);
	    		editedRow.find('.userId').html(savedRecord.user.id);
	    		editedRow.find('.locationId').html(savedRecord.location.id);
	    		editedRow.find('.operationId').html(savedRecord.operation.id);
	    		editedRow.find('.dateDisplay').html(savedRecord.dateDisplay);
	    		editedRow.addClass('new-row');

	    		findMostRecentHobbsEndByAircraft();
    			if(showStarts) {
	    			totalStartsByYear();
    			}
    		} else {
    			window.location.href = $("#monthLink"+(flightLogMonth+1)).attr("href");
    		}
    	}
    	function populateCreateForm(editLink){
    		$('#addEditForm').find('#hobbsBegin').val(mostRecentHobbsEnd);
    		$('#date').datepicker("setDate", new Date() );
    	}
    	function populateEditForm(editLink){
    		$('#addEditForm').find("option:selected").removeAttr("selected");
    		var editSpan = $(editLink).closest('span.dataCell');
    		var userIdSpan = editSpan.nextAll('span.userId');
    		var userOptionStr = "select#user option[value='"+userIdSpan.html()+"']";
    		$('#addEditForm').find(userOptionStr).prop('selected','selected');
    		$('#addEditForm').find('#date').val(editSpan.nextAll('span.dateDisplay').first().html());
    		if(showStarts) {
	    		$('#addEditForm').find('#starts').val(editSpan.nextAll('span.starts').first().html());
    		}		
    		var locationIdSpan = editSpan.nextAll('span.locationId');
    		var locationOptionStr = "select#location option[value='"+locationIdSpan.html()+"']";
    		$('#addEditForm').find(locationOptionStr).prop('selected','selected');
    		$('#addEditForm').find('#hobbsBegin').val(editSpan.nextAll('span.hobbsBegin').first().html());
    		$('#addEditForm').find('#hobbsEnd').val(editSpan.nextAll('span.hobbsEnd').first().html());
    		var operationIdSpan = editSpan.nextAll('span.operationId');
    		var operationOptionStr = "select#operation option[value='"+operationIdSpan.html()+"']";
    		$('#addEditForm').find(operationOptionStr).prop('selected','selected');
    		$('#addEditForm').find('#id').val(editSpan.nextAll('span.id').first().html());
    		$('#addEditForm').find('#userId').val(editSpan.nextAll('span.userId').first().html());
    		$('#addEditForm').find('#locationId').val(editSpan.nextAll('span.locationId').first().html());
    		$('#addEditForm').find('#operationId').val(editSpan.nextAll('span.operationId').first().html());
    	}
    	var hobbsToDelete;
    	function findDeleteName(deleteLink){
    		var dataCell = $(deleteLink).closest('span.dataCell');
    		hobbsToDelete = dataCell.nextAll('span.hobbsTotal').first().html();
    		return dataCell.nextAll('span.date').first().html();
    	}
    	function postDeleteAction() {
    		findMostRecentHobbsEndByAircraft();
    		if(showStarts) {
	    		totalStartsByYear();
    		}
		    monthlyHobbsTotal = Number(monthlyHobbsTotal) - Number(hobbsToDelete);
		    $('.monthly-hobbs-total').html(monthlyHobbsTotal.toFixed(2));
    	}
    	function findMostRecentHobbsEndByAircraft() {
    		$.ajax({
				url: baseUrl+"/flightLogs/mostRecentHobbsEnd/"+aircraft.id,
				dataType: 'json',
				success: function(data) {
					//alert(data);
					mostRecentHobbsEnd=data;
				},
				error: function() {
					//alert("error getting mostRecentHobbsEnd");
				}
			});
    	}
    	function totalStartsByYear() {
    		$.ajax({
				url: baseUrl+"/flightLogs/yearlyStarts/"+aircraft.id,
				dataType: 'json',
				success: function(data) {
					$('.yearly-starts').html(data);
				},
				error: function() {
					//alert("error getting totalStartsByYear");
				}
			});
    	}
    	//]]>
    </script>
</head>
<body>

	<div th:replace="includes/header :: header">...</div>

	<div id="main-content">
		<div id="dialog-form" title="Flight Log">
			<p class="validateTips"></p>
			<form id="addEditForm" action="/flightLogs" method="post">
				<fieldset>
					<label for="date">Date</label>
					<input type="text" name="date" id="date" tabindex="-1" class="text ui-widget-content ui-corner-all"/>
					<label for="user">Pilot</label>
					<select id="user" name="user" class="ui-widget-content ui-corner-all">
						<option th:each="user : ${allUsers}" th:text="${user.firstName} + ' ' + ${user.lastName}" th:value="${user.id}">${user.firstName} + ' ' + ${user.lastName}</option>
					</select>
					<label for="name" th:if="${aircraft.model.showStarts}">Starts</label>
					<input type="text" name="starts" id="starts" class="text ui-widget-content ui-corner-all" th:if="${aircraft.model.showStarts}"/>
					<label for="location">Location</label>
					<select id="location" name="location" class="ui-widget-content ui-corner-all">
						<option th:each="location : ${allLocations}" th:text="${location.name}" th:value="${location.id}">${location.name}</option>
					</select>
					<label for="hobbsBegin">Hobbs Begin</label>
					<input type="text" name="hobbsBegin" id="hobbsBegin" value="" class="text ui-widget-content ui-corner-all"/>
					<label for="hobbsEnd">Hobbs End</label>
					<input type="text" name="hobbsEnd" id="hobbsEnd" value="" class="text ui-widget-content ui-corner-all"/>
					<label for="operation">Operation</label>
					<select id="operation" name="operation" class="ui-widget-content ui-corner-all">
						<option th:each="operation : ${allOperations}" th:text="${operation.name}" th:value="${operation.id}">${operation.name}</option>
					</select>
					<input type="text" name="id" id="id" class="hidden"/>
					<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
				</fieldset>
			</form>
		</div>
		<br/>
		<div>
			<span th:text="'Collective Flight Log ' + ${aircraft.aircraftNumber}">Flight Logs</span>
			&nbsp;&nbsp;
			<span><a href="aircraftStatus.html?id=1" th:href="@{aircraftStatus.html(id=${aircraft.id})}"><button type="button" class="month-button no-print" role="button"><span class="button-text">Status</span></button></a></span>
			<span><a href="adCompliance.html?id=1" th:href="@{adComplianceLog.html(id=${aircraft.id})}"><button type="button" class="month-button no-print" role="button"><span class="button-text">AD Compliance</span></button></a></span>
		</div>
		<div th:text="'Model: ' + ${aircraft.model.name}">Aircraft Model</div>
		<br/>
		<div class="no-print">
			<a id="monthLink1" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=1)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==0?'button-on':'button-off')"><span class="button-text">Jan</span></button></a>
			<a id="monthLink2" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=2)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==1?'button-on':'button-off')"><span class="button-text">Feb</span></button></a>
			<a id="monthLink3" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=3)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==2?'button-on':'button-off')"><span class="button-text">Mar</span></button></a>
			<a id="monthLink4" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=4)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==3?'button-on':'button-off')"><span class="button-text">Apr</span></button></a>
			<a id="monthLink5" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=5)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==4?'button-on':'button-off')"><span class="button-text">May</span></button></a>
			<a id="monthLink6" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=6)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==5?'button-on':'button-off')"><span class="button-text">Jun</span></button></a>
			<a id="monthLink7" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=7)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==6?'button-on':'button-off')"><span class="button-text">Jul</span></button></a>
			<a id="monthLink8" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=8)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==7?'button-on':'button-off')"><span class="button-text">Aug</span></button></a>
			<a id="monthLink9" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=9)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==8?'button-on':'button-off')"><span class="button-text">Sep</span></button></a>
			<a id="monthLink10" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=10)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==9?'button-on':'button-off')"><span class="button-text">Oct</span></button></a>
			<a id="monthLink11" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=11)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==10?'button-on':'button-off')"><span class="button-text">Nov</span></button></a>
			<a id="monthLink12" href="flightLog.html?id=0" th:href="@{flightLog.html(id=${aircraft.id},month=12)}"><button type="button" class="month-button" role="button" th:classappend="(${month}==11?'button-on':'button-off')"><span class="button-text">Dec</span></button></a>
			<a href="#"><button onClick="window.print()" type="button" class="month-button print-button" role="button"><span class="button-text">Print Month</span></button></a>
			<br/>
			<br/>
		</div>
		<div class="print-only monthName" th:with="monthDate=(${#dates.create(2015,month+1,1)})">
			 <span th:text="${#dates.monthName(monthDate)}">Month Name</span>
		</div>
		<div class="table">
			<div class="records-header">
				<span class="edit delete icon no-print"></span>
			    <span class="headerCell dataCell">Date</span>
			    <span class="headerCell dataCell">Pilot</span>
			    <span class="headerCell dataCell" th:if="${aircraft.model.showStarts}">Starts</span>
			    <span class="headerCell dataCell">Location</span>
			    <span class="headerCell dataCell">Hobbs Begin</span>
			    <span class="headerCell dataCell">Hobbs End</span>
			    <span class="headerCell dataCell">Hobbs Total</span>
			    <span class="headerCell dataCell">Operation</span>
			</div>
			<div class="records-rows" th:each="fl : ${flightLogs}" th:classappend="|id${fl.id}">
				<span class="dataCell no-print">
					<span class="edit icon"><a href="#" class="editLink" th:attr="data-id=${fl.id}"><img border="0" alt="Edit" src="images/edit.png"/></a></span>
					<span class="delete icon"><a href="#" class="deleteLink" th:attr="data-id=${fl.id}"><img border="0" alt="Delete" src="images/delete.png"/></a></span>
				</span>
				<span class="date dataCell" th:text="${fl.flightLogDateDisplay}">Date</span>
				<span class="user dataCell" th:text="${fl.user.firstName} + ' ' + ${fl.user.lastName}">Pilot</span>
				<span class="starts dataCell" th:if="${aircraft.model.showStarts}" th:text="${fl.starts}">Starts</span>
				<span class="location dataCell" th:text="${fl.location.name}">Location</span>
				<span class="hobbsBegin dataCell" th:text="${fl.hobbsBegin}">Hobbs Begin</span>
				<span class="hobbsEnd dataCell" th:text="${fl.hobbsEnd}">Hobbs End</span>
				<span class="hobbsTotal dataCell" th:text="${fl.hobbsEnd}-${fl.hobbsBegin}">Hobbs Total</span>
				<span class="operation dataCell" th:text="${fl.operation.name}">Operation</span>
				<span class="id cell hidden" th:text="${fl.id}">Hidden PK ID</span>
				<span class="userId cell hidden" th:text="${fl.user.id}">Hidden User Id</span>
				<span class="locationId cell hidden" th:text="${fl.location.id}">Hidden Location Id</span>
				<span class="operationId cell hidden" th:text="${fl.operation.id}">Hidden Operation Id</span>
				<span class="dateDisplay dataCell hidden" th:text="${fl.dateDisplay}">Hidden Date</span>
			</div>
			<div class="totals-rows">
				<span class="emptyCell no-print"></span>
				<span class="emptyCell"></span>
				<span class="emptyCell" th:if="!${aircraft.model.showStarts}"></span>
				<span class="dataCell log-totals" th:if="${aircraft.model.showStarts}">Total Starts:</span>
				<span class="dataCell log-totals yearly-starts" th:text="${yearlyStarts}" th:if="${aircraft.model.showStarts}">456</span>
				<span class="emptyCell"></span>
				<span class="emptyCell"></span>
				<span class="dataCell log-totals">Monthly Total:</span>
				<span class="dataCell log-totals monthly-hobbs-total" th:text="${monthlyHobbsTotal}">123</span>
				<span class="emptyCell"></span>
			</div>
		</div>
		<button id="create-record">Create New</button>
		<br/><br/><br/>
		<div>
			<span><a href="resetLog.html?i=hobbs" th:href="@{resetLog.html(id=${aircraft.id}, i=hobbs)}"><button type="button" class="month-button no-print" role="button"><span class="button-text">Reset Hobbs Meter</span></button></a></span>
			<span><a href="resetLog.html?i=engine" th:href="@{resetLog.html(id=${aircraft.id}, i=engine)}"><button type="button" class="month-button no-print" role="button"><span class="button-text">Reset Engine Time</span></button></a></span>
		</div>
	</div>
</body>
</html>