<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Black Hills Aerial Adventures | Flight Logs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="css/jqueryui/1.11.3/jquery-ui.css" />
	<link rel="stylesheet" href="css/main.css" />
    <script type="text/javascript" src="js/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script th:inline="javascript">
    	/*<![CDATA[*/

		var users = {};
		var locations = {};
		var operations = {};
    	           
		function buildOptions(){
			var allUsers = /*[[${allUsers}]]*/;
			for(var i=0; i < allUsers.length; i++) {
				var user = allUsers[i];
				users[user.id] = user;
			}	
			var allLocations = /*[[${allLocations}]]*/;
			for(var i=0; i < allLocations.length; i++) {
				var location = allLocations[i];
				locations[location.id] = location;
			}
			var allOperations = /*[[${allOperations}]]*/;
			for(var i=0; i < allOperations.length; i++) {
				var operation = allOperations[i];
				operations[operation.id] = operation;
			}
		}
		
		var aircraft = /*[[${aircraft}]]*/;
		/*]]>*/
    </script>
    <script type="text/javascript">
  		//<![CDATA[
  		           
		var lengthValidation = [];
		var passwordValidation = [];
				
    	$(function() {
    		var id = $( "#id" ),
        	user = $( "#user" ),
        	date = $( "#date" ),
        	starts = $( "#starts" ),
        	location = $( "#location" ),
        	hobbsBegin = $( "#hobbsBegin" ),
        	hobbsEnd = $( "#hobbsEnd" ),
        	operation = $( "#operation" );
    		
        	allFields = $( [] ).add( id ).add( user ).add( date ).add( starts ).add( location ).add( hobbsBegin ).add( hobbsEnd ).add( operation );
        	addUpdatePath = "/flightLogs";
        	deletePath = "/flightLogs";
    		
    		createDialog("Save Flight Log");
    		
    		//lengthValidation[lengthValidation.length] = createLengthValidationObject(userId, "'ID'", 1, 15);
    		//lengthValidation[lengthValidation.length] = createLengthValidationObject(firstName, "'First Name'", 1, 100);
    		//lengthValidation[lengthValidation.length] = createLengthValidationObject(lastName, "'Last Name'", 1, 100);
    		//lengthValidation[lengthValidation.length] = createLengthValidationObject(username, "'Username'", 1, 100);
    		
    		//passwordValidation[passwordValidation.length] = createPasswordValidationObject(password, password2);
    	});
    	function setSelectValue(formData, element) {
			if(element.name == 'user'){
				formData[element.name] = users[element.value];
			} else if(element.name == 'location'){
				formData[element.name] = locations[element.value];
			} else if(element.name == 'operation'){
				formData[element.name] = operations[element.value];
			}
    	}
    	function setExtraValues(formData) {
    		formData["aircraft"] = aircraft;    		
    	}
    	function writeCreatedRecord(savedRecord){
	    	$( ".records-rows" ).last().after( "<div class='records-rows id"+savedRecord.id+"'>" +
			    	"<span class='edit'><a href='#' class='editLink' data-id='"+savedRecord.id+"'><img border='0' alt='Edit' src='images/edit.png' width='15' height='15'/></a></span> " +
			    	"<span class='delete'><a href='#' class='deleteLink' data-id='"+savedRecord.id+"'><img border='0' alt='Delete' src='images/delete.png' width='15' height='15'/></a></span> " +
			    	"<span class='date dataCell'>"+savedRecord.dateDisplay+"</span> " +
			    	"<span class='user dataCell'>"+savedRecord.user.firstName+" "+savedRecord.user.lastName+"</span> " +
			    	"<span class='starts dataCell'>"+savedRecord.starts+"</span> " +
			    	"<span class='location dataCell'>"+savedRecord.location.name+"</span> " +
			    	"<span class='hobbsBegin dataCell'>"+savedRecord.hobbsBegin+"</span> " +
			    	"<span class='hobbsEnd dataCell'>"+savedRecord.hobbsEnd+"</span> " +
			    	"<span class='operation dataCell'>"+savedRecord.operation.name+"</span> " +
			    	"<span class='id cell hidden'>"+savedRecord.id+"</span> " +
			    	"<span class='userId cell hidden'>"+savedRecord.user.id+"</span> " +
			    	"<span class='locationId cell hidden'>"+savedRecord.location.id+"</span> " +
			    	"<span class='operationId cell hidden'>"+savedRecord.operation.id+"</span> " +
		    	"</div>" );    		
    	}
    	function writeEditRecord(savedRecord){
    		var editedRow = $(".id"+savedRecord.id);
    		editedRow.find('.user').html(savedRecord.user.firstName + ' ' + savedRecord.user.lastName);
    		editedRow.find('.date').html(savedRecord.dateDisplay);
    		editedRow.find('.starts').html(savedRecord.starts);
    		editedRow.find('.location').html(savedRecord.location.name);
    		editedRow.find('.hobbsBegin').html(savedRecord.hobbsBegin);
    		editedRow.find('.hobbsEnd').html(savedRecord.hobbsEnd);
    		editedRow.find('.operation').html(savedRecord.operation.name);
    		editedRow.find('.id').html(savedRecord.id);
    		editedRow.find('.userId').html(savedRecord.userId);
    		editedRow.find('.locationId').html(savedRecord.locationId);
    		editedRow.find('.operationId').html(savedRecord.operationId);
    	}
    	function populateEditForm(editLink){
    		$('#addEditForm').find("option:selected").removeAttr("selected");
    		var editSpan = $(editLink).closest('span');
    		var userIdSpan = editSpan.nextAll('span.userId');
    		var userOptionStr = "select option[value='"+userIdSpan.html()+"']";
    		$('#addEditForm').find(userOptionStr).prop('selected','selected');
    		$('#addEditForm').find('#date').val(editSpan.nextAll('span.date').first().html());
    		$('#addEditForm').find('#starts').val(editSpan.nextAll('span.starts').first().html());
    		var locationIdSpan = editSpan.nextAll('span.locationId');
    		var locationOptionStr = "select option[value='"+locationIdSpan.html()+"']";
    		$('#addEditForm').find(locationOptionStr).prop('selected','selected');
    		$('#addEditForm').find('#hobbsBegin').val(editSpan.nextAll('span.hobbsBegin').first().html());
    		$('#addEditForm').find('#hobbsEnd').val(editSpan.nextAll('span.hobbsEnd').first().html());
    		var operationIdSpan = editSpan.nextAll('span.operationId');
    		var operationOptionStr = "select option[value='"+operationIdSpan.html()+"']";
    		$('#addEditForm').find(operationOptionStr).prop('selected','selected');
    		$('#addEditForm').find('#id').val(editSpan.nextAll('span.id').first().html());
    		$('#addEditForm').find('#userId').val(editSpan.nextAll('span.userId').first().html());
    		$('#addEditForm').find('#locationId').val(editSpan.nextAll('span.locationId').first().html());
    		$('#addEditForm').find('#operationId').val(editSpan.nextAll('span.operationId').first().html());
    	}
    	function findDeleteName(deleteLink){
    		return $(deleteLink).closest('span').nextAll('span.date').first().html();
    	}
    	//]]>
    </script>
</head>
<body>

	<div th:replace="includes/header :: header">...</div>

	<H1>Flight Logs</H1>
	<div id="dialog-form" title="Create New Flight Log">
		<p class="validateTips"></p>
		<form id="addEditForm" action="/flightLogs" method="post">
			<fieldset>
				<label for="name">Date</label>
				<input type="text" name="date" id="date" value="2012-04-23T18:25:43.511Z" class="text ui-widget-content ui-corner-all"/>
				<label for="user">Pilot</label>
				<select id="user" name="user" class="ui-widget-content ui-corner-all">
					<option th:each="user : ${allUsers}" th:text="${user.firstName} + ' ' + ${user.lastName}" th:value="${user.id}">${user.firstName} + ' ' + ${user.lastName}</option>
				</select>
				<label for="name">Starts</label>
				<input type="text" name="starts" id="starts" value="2" class="text ui-widget-content ui-corner-all"/>
				<label for="location">Location</label>
				<select id="location" name="location" class="ui-widget-content ui-corner-all">
					<option th:each="location : ${allLocations}" th:text="${location.name}" th:value="${location.id}">${location.name}</option>
				</select>
				<label for="hobbsBegin">Hobbs Begin</label>
				<input type="text" name="hobbsBegin" id="hobbsBegin" value="123" class="text ui-widget-content ui-corner-all"/>
				<label for="hobbsEnd">Hobbs End</label>
				<input type="text" name="hobbsEnd" id="hobbsEnd" value="456" class="text ui-widget-content ui-corner-all"/>
				<label for="operation">Operation</label>
				<select id="operation" name="operation" class="ui-widget-content ui-corner-all">
					<option th:each="operation : ${allOperations}" th:text="${operation.name}" th:value="${operation.id}">${operation.name}</option>
				</select>
				<input type="text" name="id" id="id" class="hidden"/>
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
			</fieldset>
		</form>
	</div>
	<div class="records-header">
		<span class="edit"></span>
		<span class="delete"></span>
	    <span class="headerCell dataCell">Date</span>
	    <span class="headerCell dataCell">Pilot</span>
	    <span class="headerCell dataCell">Starts</span>
	    <span class="headerCell dataCell">Location</span>
	    <span class="headerCell dataCell">Hobbs Begin</span>
	    <span class="headerCell dataCell">Hobbs End</span>
	    <span class="headerCell dataCell">Operation</span>
	</div>
	<div class="records-rows" th:each="fl : ${aircraft.flightLogs}" th:classappend="|id${fl.id}">
		<span class="edit"><a href="#" class="editLink" th:attr="data-id=${fl.id}"><img border="0" alt="Edit" src="images/edit.png" width="15" height="15"/></a></span>
		<span class="delete"><a href="#" class="deleteLink" th:attr="data-id=${fl.id}"><img border="0" alt="Delete" src="images/delete.png" width="15" height="15"/></a></span>
		<span class="date dataCell" th:text="${fl.dateDisplay}">Date</span>
		<span class="user dataCell" th:text="${fl.user.firstName} + ' ' + ${fl.user.lastName}">Pilot</span>
		<span class="starts dataCell" th:text="${fl.starts}">Starts</span>
		<span class="location dataCell" th:text="${fl.location.name}">Location</span>
		<span class="hobbsBegin dataCell" th:text="${fl.hobbsBegin}">Hobbs Begin</span>
		<span class="hobbsEnd dataCell" th:text="${fl.hobbsEnd}">Hobbs End</span>
		<span class="operation dataCell" th:text="${fl.operation.name}">Operation</span>
		<span class="id cell hidden" th:text="${fl.id}">Hidden PK ID</span>
		<span class="userId cell hidden" th:text="${fl.user.id}">Hidden User Id</span>
		<span class="locationId cell hidden" th:text="${fl.location.id}">Hidden Location Id</span>
		<span class="operationId cell hidden" th:text="${fl.operation.id}">Hidden Operation Id</span>
	</div>
	<br/>
	<button id="create-record">Create new flight log entry</button>
</body>
</html>