<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Black Hills Aerial Adventures | Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="css/jqueryui/1.11.3/jquery-ui.css" />
	<link rel="stylesheet" href="css/main.css" />
    <script type="text/javascript" src="js/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    
    <script type="text/javascript">
  		//<![CDATA[
  		           
		var lengthValidation = [];
		var passwordValidation = [];
  		           
    	$(function() {
    		var id = $( "#id" ),
        	userId = $( "#userId" ),
        	firstName = $( "#firstName" ),
        	lastName = $( "#lastName" ),
        	rating = $( "#rating" ),
        	username = $( "#username" ),
        	password = $( "#password" ),
        	password2 = $( "#password2" );
    		
        	allFields = $( [] ).add( id ).add( userId ).add( firstName ).add( lastName).add( rating ).add( username ).add( password );
        	addUpdatePath = "/users";
        	deletePath = "/users";
    		
    		createDialog("Save User");
    		
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(userId, "'ID'", 1, 15);
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(firstName, "'First Name'", 1, 100);
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(lastName, "'Last Name'", 1, 100);
    		lengthValidation[lengthValidation.length] = createLengthValidationObject(username, "'Username'", 1, 100);
    		
    		passwordValidation[passwordValidation.length] = createPasswordValidationObject(password, password2);
    	});
    	
    	function writeCreatedRecord(savedRecord){
	    	$( ".records-rows" ).last().after( "<div class='records-rows id"+savedRecord.id+"'>" +
			    	"<span class='edit'><a href='#' class='editLink' data-id='"+savedRecord.id+"'><img border='0' alt='Edit' src='images/edit.png' width='15' height='15'/></a></span> " +
			    	"<span class='delete'><a href='#' class='deleteLink' data-id='"+savedRecord.id+"'><img border='0' alt='Delete' src='images/delete.png' width='15' height='15'/></a></span> " +
			    	"<span class='userId cell'>"+savedRecord.userId+"</span> " +
			    	"<span class='name cell'>"+savedRecord.firstName+" "+savedRecord.lastName+"</span> " +
			    	"<span class='rating cell'>"+savedRecord.rating.name+"</span> " +
			    	"<span class='username cell'>"+savedRecord.username+"</span> " +
			    	"<span class='id cell hidden'>"+savedRecord.id+"</span> " +
			    	"<span class='firstName cell hidden'>"+savedRecord.firstName+"</span> " +
			    	"<span class='lastName cell hidden'>"+savedRecord.lastName+"</span> " +
			    	"<span class='ratingId cell hidden'>"+savedRecord.rating.id+"</span> " +
		    	"</div>" );    		
    	}
    	function writeEditRecord(savedRecord){
    		var editedRow = $(".id"+savedRecord.id);
    		editedRow.find('.userId').html(savedRecord.userId);
    		editedRow.find('.name').html(savedRecord.firstName + ' ' + savedRecord.lastName);
    		editedRow.find('.rating').html(savedRecord.rating.name);
    		editedRow.find('.username').html(savedRecord.username);
    		editedRow.find('.id').html(savedRecord.id);
    		editedRow.find('.firstName').html(savedRecord.firstName);
    		editedRow.find('.lastName').html(savedRecord.lastName);
    	}
    	function populateEditForm(editLink){
    		$('#addEditForm').find("option:selected").removeAttr("selected");
    		var editSpan = $(editLink).closest('span');
    		$('#addEditForm').find('#userId').val(editSpan.nextAll('span.userId').first().html());
    		$('#addEditForm').find('#firstName').val(editSpan.nextAll('span.firstName').first().html());
    		$('#addEditForm').find('#lastName').val(editSpan.nextAll('span.lastName').first().html());
    		var ratingIdSpan = editSpan.nextAll('span.ratingId');
    		var ratingOptionStr = "select option[value='"+ratingIdSpan.html()+"']";
    		$('#addEditForm').find(ratingOptionStr).prop('selected','selected');
    		$('#addEditForm').find('#username').val(editSpan.nextAll('span.username').first().html());
    		$('#addEditForm').find('#id').val(editSpan.nextAll('span.id').first().html());
    	}
    	function findDeleteName(deleteLink){
    		return $(deleteLink).closest('span').nextAll('span.name').first().html();
    	}
    	//]]>
    </script>
</head>
<body>

	<H1>Users</H1>
	<div id="dialog-form" title="Create new">
		<p class="validateTips"></p>
		<form id="addEditForm" action="/users" method="post">
			<fieldset>
				<label for="name">ID</label>
				<input type="text" name="userId" id="userId" value="5555" class="text ui-widget-content ui-corner-all"/>
				<label for="name">First Name</label>
				<input type="text" name="firstName" id="firstName" value="Jane" class="text ui-widget-content ui-corner-all"/>
				<label for="name">Last Name</label>
				<input type="text" name="lastName" id="lastName" value="Smith" class="text ui-widget-content ui-corner-all"/>
				<label for="email">Rating</label>
				<select id="rating" name="rating" class="ui-widget-content ui-corner-all">
					<option th:each="rating : ${allRatings}" th:text="${rating.name}" th:value="${rating.id}">${rating.name}</option>
				</select>
				<label for="email">Username</label>
				<input type="text" name="username" id="username" value="jsmith" class="text ui-widget-content ui-corner-all"/>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" value="xxxxxxx" class="text ui-widget-content ui-corner-all"/>
				<input type="password" name="password2" id="password2" value="xxxxxxx" class="text ui-widget-content ui-corner-all"/>
				<input type="text" name="id" id="id" class="hidden"/>
				<input type="submit" tabindex="-1" style="position:absolute; top:-1000px"/>
			</fieldset>
		</form>
	</div>

	<div class="users-header">
		<span class="delete"></span>
		<span class="edit"></span>
	    <span class="userId">ID</span>
	    <span class="name">Name</span>
	    <span class="rating">Rating</span>
	    <span class="username">Username</span>
	</div>
	<div class="records-rows" th:each="u : ${users}" th:classappend="|id${u.id}">
		<span class="edit"><a href="#" class="editLink" th:attr="data-id=${u.id}"><img border="0" alt="Edit" src="images/edit.png" width="15" height="15"/></a></span>
		<span class="delete"><a href="#" class="deleteLink" th:attr="data-id=${u.id}"><img border="0" alt="Delete" src="images/delete.png" width="15" height="15"/></a></span>
		<span class="userId cell" th:text="${u.userId}">ID</span>
		<span class="name cell" th:text="${u.displayName}">Name</span>
		<span class="rating cell" th:text="${u.rating.name}">Rating</span>
		<span class="username cell" th:text="${u.username}">UserName</span>
		<span class="id cell hidden" th:text="${u.id}">Hidden PK ID</span>
		<span class="firstName cell hidden" th:text="${u.firstName}">Hidden First Name</span>
		<span class="lastName cell hidden" th:text="${u.lastName}">Hidden Last Name</span>
		<span class="ratingId cell hidden" th:text="${u.rating.id}">Hidden Rating Id</span>
	</div>
	<br/>
	<button id="create-record">Create new user</button>
	
	<div class="ratings-rows" th:each="r : ${allRatings}">
		<div th:text="${r.toJson()}"></div>
	</div>
	
</body>
</html>