<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div th:fragment="header">
      <div><a href="/dashboard.html">Dashboard</a> | <a href="/squawks.html">Squawks</a></div>
      <div>Admin: <a href="/users.html">Users</a> | <a href="/aircrafts.html">Aircrafts</a> | <a href="/models.html">Models</a> | <a href="/locations.html">Locations</a> | <a href="/operations.html">Operations</a> | <a href="/ratings.html">Ratings</a> | <a href="/maintenanceTypes.html">Maintenance Types</a></div>
      <!--<div>Mechanic: <a href="/maintenanceLog.html">Maintenance Log</a></div>-->
    </div>
  </body>
</html>