<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
  	<meta th:fragment="head">
	  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	</meta>
  </head>
  <body>
    <div th:fragment="header">
    	<div class="header-left">
    		<img src="/images/main-logo.png"/>
    	</div>
     	<div class="header-right">
     		<div class="header-menu">
     			<a href="/"><button type="button" id="dashboard-button" class="header-button" role="button"><span class="button-text">Dashboard</span></button></a>
				<a href="/squawks.html"><button type="button" id="squawk-button" class="header-button" role="button"><span class="button-text">Squawk</span></button></a>
				<a href="/admin/users.html" sec:authorize="hasRole('ROLE_ADMIN')"><button type="button" id="users-button" class="admin-button" role="button"><span class="button-text">Users</span></button></a>
				<a href="/admin/aircrafts.html" sec:authorize="hasRole('ROLE_ADMIN')"><button type="button" id="aircrafts-button" class="admin-button" role="button"><span class="button-text">Aircrafts</span></button></a>
				<a href="/admin/models.html" sec:authorize="hasRole('ROLE_ADMIN')"><button type="button" id="models-button" class="admin-button" role="button"><span class="button-text">Models</span></button></a>
				<a href="/admin/adComplianceChooseModel.html" sec:authorize="hasRole('ROLE_ADMIN')"><button type="button" id="adCompliance-button" class="admin-button" role="button"><span class="button-text">AD Compliances</span></button></a>
				<a href="/admin/locations.html" sec:authorize="hasRole('ROLE_ADMIN')"><button type="button" id="locations-button" class="admin-button" role="button"><span class="button-text">Locations</span></button></a>
				<a href="/admin/operations.html" sec:authorize="hasRole('ROLE_ADMIN')"><button type="button" id="operations-button" class="admin-button" role="button"><span class="button-text">Operations</span></button></a>
				<a href="/admin/ratings.html" sec:authorize="hasRole('ROLE_ADMIN')"><button type="button" id="ratings-button" class="admin-button" role="button"><span class="button-text">Ratings</span></button></a>
				<a href="/admin/maintenanceTypes.html" sec:authorize="hasRole('ROLE_ADMIN')"><button type="button" id="maintenance-types-button" class="admin-button" role="button"><span class="button-text">Maintenance Types</span></button></a>
     		</div>
     		<div class="admin-admin-button" sec:authorize="!hasRole('ROLE_ADMIN')">
     			<a href="/login.html"><button type="button" id="admin-button" class="admin-button" role="button"><span class="button-text">Login</span></button></a>
     		</div>
     		<div class="logged-in" th:if="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
     			Logged in as <span sec:authentication="name" style="font-weight:bold"></span>
     		</div>
     		<div class="admin-admin-button" th:if="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
     			<a href="/logout"><button type="button" id="admin-button" class="admin-button" role="button"><span class="button-text">Logout</span></button></a>
     		</div>
	      	<!--<div>Mechanic: <a href="/maintenanceLog.html">Maintenance Log</a></div>-->
		</div>
		<div id="dialog" style="display:none;" title="Inactivity Detected" th:if="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
		  <p>
		    You have been idle for 5 minutes and will be logged out in 5 seconds.
		  </p>
		</div>
		<script type="text/javascript" src="/js/idle-timer.1.0.1.min.js" th:if="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}"></script>
		<script type="text/javascript" th:if="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
			var idleDialog;
			$(function() {
				idleDialog = $( "#dialog" ).dialog({
					  dialogClass: "no-close",
				      modal: true,
				      autoOpen: false
				});				
			    // binds to document - shorthand
			    $.idleTimer({
			        timeout:300000, //5 minutes 
			        idle:true
			    });
			    $( document ).on( "idle.idleTimer", function(event, elem, obj){
			        // function you want to fire when the user goes idle
			        idleDialog.show();
			    	idleDialog.dialog( "open" );
			    	window.setTimeout(function(){
				        window.location.href = "/logout";
				    }, 5000);
				});
			});
		</script>
    </div>
  </body>
</html>